// ----------------------------------------
//  Custom Utility Classes
// ----------------------------------------

html.no-js .show-on-js {
    display: none !important;
}

html:not(.no-js) .hide-on-js {
    display: none !important;
}

.show-on-dark {
    display: none;
}

@include color-mode(dark) {
    .show-on-dark {
        display: inherit;
    }
    .hide-on-dark {
        display: none;
    }
}
