<div class="callout callout-{{ type }} callout-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" data-bs-target="[role='alert']" aria-label="{{ 'alt.close' | _ }}"></button>

    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %}

    {% if content %}
        <p>{{ content }}</p>
    {% endif %}

    {% if list %}
        <ul>
        {% for item in list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% if jscript %}
    <script>
        {% if errors %}
            var errors = JSON.parse('{{ errors|raw }}');
        {% endif %}
        {{ jscript|raw }}
    </script>
{% endif %}