
{% if post.categories %}
    {% if wrap %}<div class="{{ wrap }}">{% endif %}
    <div class="card card-simple">
        <header class="card-header">
            <span class="card-title">{{ 'posts.widget.categories' | trans }}</span>
        </header>

        <article class="card-body">
            <ul class="list-group list-group-flush">
                {% for category in post.categories %}
                    <li class="list-group-item">
                        <a href="{{ category.url }}" title="{{ 'magazine.category_archive' | trans }}: {{ category.name }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </div>
    {% if wrap %}</div>{% endif %}
{% endif %}

{% if post.bloghub_tags|length > 0 %}
    {% if wrap %}<div class="{{ wrap }}">{% endif %}
    <div class="card card-simple">
        <header class="card-header">
            <span class="card-title">{{ 'posts.widget.tags' | trans }}</span>
        </header>

        <article class="card-body">
            <ul class="list-group list-group-flush">
                {% for tag in post.bloghub_tags %}
                    <li class="list-group-item">
                        <a href="{{ tag.url }}" title="{{ 'magazine.tag_archive' | trans }}: {{ tag.title }}">
                            {{ tag.title | default(tag.slug | title) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </div>
    {% if wrap %}</div>{% endif %}
{% endif %}

{% set prevPost = post.bloghub_prev_post_in_category %}
{% set nextPost = post.bloghub_next_post_in_category %}
{% if prevPost or nextPost %}
    {% if wrap %}<div class="{{ wrap }}">{% endif %}
    <div class="card card-simple">
        <header class="card-header">
            <span class="card-title">{{ 'posts.readmore' | trans }}</span>
            <span class="card-subtitle">{{ 'posts.same_category' | trans }}</span>
        </header>

        <article class="card-body">
            {% if prevPost %}
                {% partial 'blog/components/button' post=prevPost %}
            {% endif %}

            {% if nextPost %}
                {% partial 'blog/components/button' post=nextPost %}
            {% endif %}
        </article>   
    </div>
    {% if wrap %}</div>{% endif %}
{% endif %}