
{% set style = this.theme.oc_picker_style %}
{% if this.theme.oc_picker_usage == 'sites' and style == 'switch' %}
    {% set style = 'dropdown' %}
{% endif %}

{% if style == 'dropdown' %}
    <div class="navbar-action-item sitepicker-action">
        <button type="button" class="navbar-action-button" data-bs-toggle="modal" data-bs-target="#sitePickerModal">
            {% partial 'icons/bootstrap/globe2' %}
        </button>
    </div>
    
{% elseif style == 'modal' %}
    <div class="navbar-action-item sitepicker-action">
        <button type="button" class="navbar-action-button" data-bs-toggle="modal" data-bs-target="#sitePickerModal">
            {% partial 'icons/bootstrap/globe2' %}
        </button>
    </div>

    {% put offscreen %}
        <div id="sitePickerModal" class="modal fade sitepicker-modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-5">
                        <ul class="list-group">
                            {% for site in sitePicker.sites %}
                                <li class="list-group-item{{ this.site.code == site.code ? ' current' : '' }}">
                                    <a href="{{ site.url }}" class="list-group-link site-link site-{{ site.cpde }}">
                                        {% if site.flagIcon %}
                                            <img src="{{ ('assets/images/flags/' ~ site.flagIcon|slice(5) ~ '.svg') | theme  }}" alt="" class="site-flag" />
                                        {% else %}
                                            <span class="site-without-flag"></span>
                                        {% endif %}
                                        <span class="site-name">{{ site.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endput %}
{% elseif style == 'switch' %}
{% endif %}
