{% if datetime == 'short' %}
    {% set dateTimeFormat = this.theme.short_datetime_format %}
{% elseif datetime == 'time' %}
    {% set dateTimeFormat = 'H:i' %}
{% else %}
    {% set dateTimeFormat = this.theme.datetime_format %}
{% endif %}

<div class="posts-list posts-columns">
    {% for post in posts %}
        <div id="{{ prefix | default('post') }}-{{ post.id }}" class="post">
            {% if not post.published %}
                <span class="post-preview">{{ 'posts.preview' | _ }}</span>
            {% endif %}
            {% if post.published_at | date('Y-m-d H:i:s') > 'now' | date('Y-m-d H:i:s') %}
                <span class="post-pending">{{ 'posts.pending' | _ }}</span>
            {% endif %}

            <a href="{{ post.url }}" title="{{ post.title }}" class="post-thumbnail{% if post.featured_images %} post-has-thumbnail{% endif %}{{ this.theme.view_counter? ' with-view-counter': '' }}">
                {% if post.featured_images %}
                    <img src="{{ post.featured_images.0.getPath() }}" alt="{{ post.title }}" />
                {% else %}
                    <span class="post-no-thumbnail bg-light dark:bg-dark">{{ 'posts.no_thumbnail' | _ }}</span>
                {% endif %}
                
                {% if this.theme.view_counter or this.theme.comment_counter %}
                    <div class="post-badges">
                        {% if this.theme.view_counter %}
                            <div class="post-badge post-badge-views">
                                {% partial 'icons/bootstrap/eye-fill' %}
                                <span class="counter">{{ post.bloghub.views }}</span>
                            </div>
                        {% endif %}

                        {% if this.theme.comment_counter %}
                            <div class="post-badge post-badge-comments">
                                {% partial 'icons/bootstrap/chat-fill' %}
                                <span class="counter">{{ post.bloghub.comments_count }}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </a>

            <div class="post-content">
                <h2 class="post-title">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                
                <div class="post-meta">
                    <time class="post-published" datetime="{{ post.published_at }}">
                        {{ post.published_at | date(dateTimeFormat) }}
                    </time>
                    <address class="post-author">
                        <span>{{ 'posts.by_author' | _ }}</span>
                        <a href="{{ ('magazine/author/' ~ post.user.bloghub_slug()) | app }}" rel="author">{{ post.user.bloghub_display() }}</a>
                    </address>
                </div>

                <div class="post-summary">
                    {{ post.summary | raw }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
