
<div class="keen-slider-slide">
    <a href="#" class="hero-slide-item">
        <div class="slide-image">
            <img src="{{ 'assets/images/demo/hero-slider-demo-1.png' | theme }}" alt="GTA V" />
        </div>
        <div class="slide-content">
            <div class="content-subtitle">Let's talk about</div>
            <div class="content-title">Grand Theft Auto V</div>
            <div class="content-excerpt"></div>
            <div class="content-badges"></div>
        </div>
    </a>
</div>

<div class="keen-slider-slide">
    <a href="#" class="hero-slide-item">
        <div class="slide-image">
            <img src="{{ 'assets/images/demo/hero-slider-demo-2.png' | theme }}" alt="Stray" />
        </div>
        <div class="slide-content">
            <div class="content-subtitle">We played</div>
            <div class="content-title">Stray</div>
            <div class="content-excerpt"></div>
            <div class="content-badges">
                <span class="badge bg-primary">Review</span>
                <span class="badge bg-danger">Test</span>
            </div>
        </div>
    </a>
</div>

<div class="keen-slider-slide">
    <a href="#" class="hero-slide-item">
        <div class="slide-image">
            <img src="{{ 'assets/images/demo/hero-slider-demo-3.png' | theme }}" alt="Cyberpunk 2077" />
        </div>
        <div class="slide-content">
            <div class="content-subtitle">Having a good time in</div>
            <div class="content-title">Cyberpunk 2077</div>
            <div class="content-excerpt"></div>
            <div class="content-badges"></div>
        </div>
    </a>
</div>

<div class="keen-slider-slide">
    <a href="#" class="hero-slide-item">
        <div class="slide-image">
            <img src="{{ 'assets/images/demo/hero-slider-demo-4.png' | theme }}" alt="Deus Ex: Mankind Divded" />
        </div>
        <div class="slide-content">
            <div class="content-subtitle">More Cybpunk in</div>
            <div class="content-title">Deus Ex: Mankind Divded</div>
            <div class="content-excerpt"></div>
            <div class="content-badges"></div>
        </div>
    </a>
</div>