{% from "page/macros.htm" import config_classes %}

{% set type = config.callout ? 'callout' : 'alert' %}
{% set id = config.details.id is defined and config.details.id|length > 0 ? config.details.id : '' %}
{% set classNames = type ~ ' '  ~ type ~ '-' ~ (config.color|default('default')) %}

{# Backward Compatibility for NewsHub prior v1.3.0 #}
{% if config.id is defined and config.id|length > 0 and id|length == 0 %}
    {% set id = config.id %}
{% endif %}

{# Set Custom Classes (with backward compatibility to NewsHub prior v1.3.0) #}
{% if config.details.classes is defined and config.details.classes|length > 0 %}
    {% set classNames = classNames ~ ' ' ~ config.details.classes %}
{% elseif config.class_names is defined and config.class_names|length > 0 %}
    {% set classNames = classNames ~ ' ' ~ config.class_names %}
{% endif %}

{# Render Content Element #}
{% set title = config.title.label is defined ? config.title.label : config.title %}
{% set layout = config.title.layout is defined ? config.title.layout : config.layout %}

<div class="{{ config_classes(type, config)|trim }}">
    <div{% if id|length > 0 %} id="{{ id }}"{% endif %} class="{{ classNames|trim }}" role="alert">
        {% if layout != 'hidden' and title|length > 0 %}
            {% if layout == 'default' %}
                <div class="{{ type }}-heading h4 mt-0 font-sans-serif mb-3">{{ title }}</div>
            {% else %}
                <{{ layout }} class="{{ type }}-heading">{{ title }}</{{ layout }}>
            {% endif %}
        {% endif %}
        {{ config.content | md }}
    </div>
</div>
