{% from "page/macros.htm" import config_classes %}

{% set muteSubtitle = true %}
{% set id = config.details.id is defined and config.details.id|length > 0 ? config.details.id : '' %}
{% set classNames = 'card' %}

{# Backward Compatibility for NewsHub prior v1.3.0 #}
{% if config.id is defined and config.id|length > 0 and id|length == 0 %}
    {% set id = config.id %}
{% endif %}

{# Set Custom Classes (with backward compatibility to NewsHub prior v1.3.0) #}
{% if config.details.classes is defined and config.details.classes|length > 0 %}
    {% set classNames = classNames ~ ' ' ~ config.details.classes %}
{% elseif config.class_names is defined and config.class_names|length > 0 %}
    {% set classNames = classNames ~ ' ' ~ config.class_names %}
{% endif %}

{# Set Card Size #}
{% if config.size is defined and config.size != 'none' %}
    {% set classNames = classNames ~ ' card-' ~ config.size %}
{% endif %}

{# Set Card Style #}
{% if config.simple_style is defined and config.simple_style == '1' %}
    {% set classNames = classNames ~ ' card-simple' %}
{% else %}
    {% if config.color != 'default' %}
        {% set muteSubtitle = false %}
        {% set classNames = classNames ~ ' text-bg-' ~ config.color %}
    {% endif %}
{% endif %}

{# Set Data #}
{% set title = config.title.label is defined ? config.title.label : config.title %}
{% set layout = config.title.layout is defined ? config.title.layout : config.layout %}
{% set subtitle = config.subtitle.label is defined ? config.subtitle.label : config.subtitle %}
{% set sublayout = config.subtitle.layout is defined ? config.subtitle.layout : config.sublayout %}

{# Render content Element #}
{% if hide_container is defined and hide_container %}{% else %}
    <div class="{{ config_classes(group, config)|trim }}">
{% endif %}
    <div{% if id|length > 0 %} id="{{ id }}"{% endif %} class="{{ classNames|trim }}">
        {% if config.image and config.image|length > 0 %}
            <img src="{{ config.image|media }}" class="card-img-top" alt="{{ title }}" />
        {% endif %}

        <div class="card-body">
            {% if title|length > 0 %}
                {% if layout == 'default' %}
                    <div class="card-title mt-0 font-sans-serif h5 {{ subtitle is defined and subtitle|length > 0 ? 'mb-1' : 'mb-3' }}">{{ title }}</div>
                {% elseif layout != 'hidden' %}
                    <{{ layout }} class="card-title">{{ title }}</{{ layout }}>
                {% endif %}
            {% endif %}
            
            {% if subtitle is defined and subtitle|length > 0 %}
                {% if sublayout == 'default' %}
                    <div class="card-subtitle mt-0 font-sans-serif h6 mb-3{{ muteSubtitle ? ' text-muted': '' }}">{{ subtitle }}</div>
                {% elseif sublayout != 'hidden' %}
                    <{{ sublayout }} class="card-subtitle">{{ subtitle }}</{{ sublayout }}>
                {% endif %}
            {% endif %}

            <div class="card-text">
                {{ config.content|md }}
            </div>
        </div>
    </div>
{% if hide_container is defined and hide_container %}{% else %}
    </div>
{% endif %}