{% set id = config.details.id is defined and config.details.id|length > 0 ? config.details.id : '' %}
{% set classNames = 'card-group newshub-ce newshub-ce-card-group' %}

{# Backward Compatibility for NewsHub prior v1.3.0 #}
{% if config.id is defined and config.id|length > 0 and id|length == 0 %}
    {% set id = config.id %}
{% endif %}

{# Set Spacings #}
{% if config.spacings.outerBefore is defined and config.spacings.outerBefore >= 0 %}
    {% set classNames = classNames ~ ' mt-' ~ config.spacings.outerBefore %}
{% endif %}
{% if config.spacings.innerBefore is defined and config.spacings.innerBefore >= 0 %}
    {% set classNames = classNames ~ ' pt-' ~ config.spacings.innerBefore %}
{% endif %}
{% if config.spacings.innerAfter is defined and config.spacings.innerAfter >= 0 %}
    {% set classNames = classNames ~ ' pb-' ~ config.spacings.innerAfter %}
{% endif %}
{% if config.spacings.outerAfter is defined and config.spacings.outerAfter >= 0 %}
    {% set classNames = classNames ~ ' mb-' ~ config.spacings.outerAfter %}
{% endif %}

{# Set Custom Classes (with backward compatibility to NewsHub prior v1.3.0) #}
{% if config.details.classes is defined and config.details.classes|length > 0 %}
    {% set classNames = classNames ~ ' ' ~ config.details.classes %}
{% elseif config.class_names is defined and config.class_names|length > 0 %}
    {% set classNames = classNames ~ ' ' ~ config.class_names %}
{% endif %}

{# Render Content Element #}
<div{% if id|length > 0 %} id="{{ id }}"{% endif %} class="{{ classNames|trim }}">
    {% for card in config.children %}
        {% partial ('contentelements/card') config=card group='card' %}
    {% endfor %}
</div>