{% set id = config.details.id is defined and config.details.id|length > 0 ? config.details.id : '' %}
{% set classNames = 'flexbox newshub-ce newshub-ce-flexbox row' %}

{# Backward Compatibility for NewsHub prior v1.3.0 #}
{% if config.id is defined and config.id|length > 0 and id|length == 0 %}
    {% set id = config.id %}
{% endif %}

{# Set Spacings #}
{% if config.spacings.outerBefore is defined and config.spacings.outerBefore >= 0 %}
    {% set classNames = classNames ~ ' mt-' ~ config.spacings.outerBefore %}
{% endif %}
{% if config.spacings.innerBefore is defined and config.spacings.innerBefore >= 0 %}
    {% set classNames = classNames ~ ' pt-' ~ config.spacings.innerBefore %}
{% endif %}
{% if config.spacings.innerAfter is defined and config.spacings.innerAfter >= 0 %}
    {% set classNames = classNames ~ ' pb-' ~ config.spacings.innerAfter %}
{% endif %}
{% if config.spacings.outerAfter is defined and config.spacings.outerAfter >= 0 %}
    {% set classNames = classNames ~ ' mb-' ~ config.spacings.outerAfter %}
{% endif %}

{# Set Spacings prior NewsHub v1.3.0 #}
{% if config.margin_top != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.margin_top %}
{% endif %}
{% if config.margin_bottom != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.margin_bottom %}
{% endif %}
{% if config.padding_top != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.padding_top %}
{% endif %}
{% if config.padding_bottom != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.margin_top %}
{% endif %}

{# Render Content Element #}
{% if config.wrap_container == '1' %}<div class="container">{% endif %}
<div{% if id|length > 0 %} id="{{ id }}"{% endif %} class="{{ classNames|trim }}">
    {% if config.columns >= 1 %}
        <div class="{{ config.layout.column_1 }}">
            {% for element in config.children_1 %}
                {% if hasPartial('contentelements/' ~ element._group) %}
                    {% partial ('contentelements/' ~ element._group) config=element group=element._group %}
                {% else %}
                    Content Element "{{ element._group }}" not found
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% if config.columns >= 2 %}
        <div class="{{ config.layout.column_2 }}">
            {% for element in config.children_2 %}
                {% if hasPartial('contentelements/' ~ element._group) %}
                    {% partial ('contentelements/' ~ element._group) config=element group=element._group %}
                {% else %}
                    Content Element "{{ element._group }}" not found
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% if config.columns >= 3 %}
        <div class="{{ config.layout.column_3 }}">
            {% for element in config.children_3 %}
                {% if hasPartial('contentelements/' ~ element._group) %}
                    {% partial ('contentelements/' ~ element._group) config=element group=element._group %}
                {% else %}
                    Content Element "{{ element._group }}" not found
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% if config.columns >= 4 %}
        <div class="{{ config.layout.column_4 }}">
            {% for element in config.children_4 %}
                {% if hasPartial('contentelements/' ~ element._group) %}
                    {% partial ('contentelements/' ~ element._group) config=element group=element._group %}
                {% else %}
                    Content Element "{{ element._group }}" not found
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% if config.wrap_container == '1' %}</div>{% endif %}