{% set id = config.details.id is defined and config.details.id|length > 0 ? config.details.id : '' %}
{% set classNames = 'gallery newshub-ce newshub-ce-gallery' %}

{# Backward Compatibility for NewsHub prior v1.3.0 #}
{% if config.id is defined and config.id|length > 0 and id|length == 0 %}
    {% set id = config.id %}
{% endif %}

{# Set Spacings #}
{% if config.spacings.outerBefore is defined and config.spacings.outerBefore >= 0 %}
    {% set classNames = classNames ~ ' mt-' ~ config.spacings.outerBefore %}
{% endif %}
{% if config.spacings.innerBefore is defined and config.spacings.innerBefore >= 0 %}
    {% set classNames = classNames ~ ' pt-' ~ config.spacings.innerBefore %}
{% endif %}
{% if config.spacings.innerAfter is defined and config.spacings.innerAfter >= 0 %}
    {% set classNames = classNames ~ ' pb-' ~ config.spacings.innerAfter %}
{% endif %}
{% if config.spacings.outerAfter is defined and config.spacings.outerAfter >= 0 %}
    {% set classNames = classNames ~ ' mb-' ~ config.spacings.outerAfter %}
{% endif %}

{# Render Content Element #}
<div{% if id|length > 0 %} id="{{ id }}"{% endif %} class="{{ classNames|trim }}">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ config.columns }} g-2">
        {% for item in config.children %}
            <div class="col">
                <figure class="figure">
                    {% if config.lightbox %}<a href="{{ item.image | media }}" data-toggle="lightbox" data-caption="{{ item.caption }}" data-gallery="gallery">{% endif %}
                        <img src="{{ item.image | media }}" class="figure-img img-fluid rounded" alt="{{ item.title }}" />
                    {% if config.lightbox %}</a>{% endif %}

                    {% if item.caption|length > 0 %}
                        <figcaption class="figure-caption">{{ item.caption }}</figcaption>
                    {% endif %}
                </figure>
            </div>            
        {% endfor %}
    </div>
</div>
