{% set id = config.details.id is defined and config.details.id|length > 0 ? config.details.id : '' %}
{% set classNames = 'image newshub-ce newshub-ce-image' %}
{% set title = config.title.label is defined ? config.title.label : config.title %}
{% set layout = config.title.layout is defined ? config.title.layout : config.layout %}

{# Backward Compatibility for NewsHub prior v1.3.0 #}
{% if config.id is defined and config.id|length > 0 and id|length == 0 %}
    {% set id = config.id %}
{% endif %}

{# Set Spacings #}
{% if config.spacings.outerBefore is defined and config.spacings.outerBefore >= 0 %}
    {% set classNames = classNames ~ ' mt-' ~ config.spacings.outerBefore %}
{% endif %}
{% if config.spacings.innerBefore is defined and config.spacings.innerBefore >= 0 %}
    {% set classNames = classNames ~ ' pt-' ~ config.spacings.innerBefore %}
{% endif %}
{% if config.spacings.innerAfter is defined and config.spacings.innerAfter >= 0 %}
    {% set classNames = classNames ~ ' pb-' ~ config.spacings.innerAfter %}
{% endif %}
{% if config.spacings.outerAfter is defined and config.spacings.outerAfter >= 0 %}
    {% set classNames = classNames ~ ' mb-' ~ config.spacings.outerAfter %}
{% endif %}

{# Render Content Element #}
{% if config.show_text == '0' %}
    {% if title|length > 0 and layout != 'hidden' %}
        <{{ layout }}>{{ title }}</{{ layout }}>
    {% endif %}

    <figure{% if id|length > 0 %} id="{{ id }}"{% endif %} class="figure {{ classNames|trim }}">
        <img src="{{ config.image|media }}" class="figure-img img-fluid rounded" alt="{{ config.alt }}" />
    </figure>
{% else %}
    <div{% if id|length > 0 %} id="{{ id }}"{% endif %} class="{{ classNames|trim }}">
        {% if config.position == 'top' or config.position == 'bottom' %}
            <div class="row">
                <figure class="figure m-0 col-12 align-self-{{ config.placement }}{{ config.position == 'top' ? ' order-1' : ' order-2'}}">
                    <img src="{{ config.image|media }}" class="figure-img img-fluid rounded" alt="{{ config.alt }}" />
                </figure>

                <div class="content col-12 {{ config.position == 'top' ? ' order-2 mt-4' : ' order-1 mb-4'}}">
                    {% if title|length > 0 and layout != 'hidden' %}
                        <{{ layout }}>{{ title }}</{{ layout }}>
                    {% endif %}
                    {{ config.text|md }}
                </div>
            </div>
        {% elseif config.position == 'left' or config.position == 'right' %}
            <div class="row">
                <figure class="figure m-0 col-12 col-lg-4 align-self-{{ config.placement }}{{ config.position == 'left' ? ' order-1' : ' order-2'}}">
                    <img src="{{ config.image|media }}" class="figure-img img-fluid rounded" alt="{{ config.alt }}" />
                </figure>

                <div class="content col-12 col-lg-8{{ config.position == 'left' ? ' order-2' : ' order-1'}}">
                    {% if title|length > 0 and layout != 'hidden' %}
                        <{{ layout }}>{{ title }}</{{ layout }}>
                    {% endif %}
                    {{ config.text|md }}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}