
{% set classNames = config.class_names %}

{% if config.margin_top != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.margin_top %}
{% endif %}
{% if config.margin_bottom != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.margin_bottom %}
{% endif %}
{% if config.padding_top != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.padding_top %}
{% endif %}
{% if config.padding_bottom != 'default' %} 
    {% set classNames = classNames ~ ' ' ~ config.margin_top %}
{% endif %}
{% if config.background | default('default') != 'default' %} 
    {% set classNames = classNames ~ ' text-bg-' ~ config.background %}
{% endif %}

<section{% if config.id and config.id | length > 0 %} id="{{ config.id }}"{% endif %} class="section {{ classNames | trim }}">
    {% if config.wrap_container == '1' %}<div class="container flex-column">{% endif %}
        {% for element in config.children %}
            {% if hasPartial('contentelements/' ~ element._group) %}
                {% partial ('contentelements/' ~ element._group) config=element group=element._group %}
            {% else %}
                Content Element "{{ element._group }}" not found
            {% endif %}
        {% endfor %}
    {% if config.wrap_container == '1' %}</div>{% endif %}
</section>
