{% set classNames = 'keen-slider' %}
{% if config.animation|length > 0 %}
    {% set classNames = classNames ~ ' keen-slider-' ~ config.animation %}
{% endif %}
{% if config.slides > 1 %}
    {% set classNames = classNames ~ ' keen-slider-multiple' %}
{% endif %}
{% if config.class_names|length > 0 %}
    {% set classNames = classNames ~ ' ' ~ config.class_names %}
{% endif %}

{% set id = this.page.id ~ '_' ~ random() %}
{% if config.id and config.id | length > 0 %}
    {% set id = config.id %}
{% endif %}

<div id="{{ id }}" class="{{ classNames }}" 
    data-keen-slider
    data-keen-slider-amount="{{ config.slides }}"
    data-keen-slider-animation="{{ config.animation }}"
    data-keen-slider-autoplay="{{ config.animation ? 'true' : 'false' }}"
    data-keen-slider-controls="{{ config.controls ? '[data-keen-slider-control]' : 'false' }}"
    data-keen-slider-interval="{{ config.interval }}"
    data-keen-slider-indicators="{{ config.indicators ? '[data-keen-slider-indicator]' : 'false' }}"
    data-keen-slider-loop="{{ config.loop ? 'true' : 'false' }}"
    data-keen-slider-spacing="{{ config.spacing }}"
    data-keen-slider-touch="{{ config.touch ? 'true' : 'false' }}"
    >
    {% for slide in config.children %}
        <div class="keen-slider-slide">
            {% if slide.link|length > 0 %}<a href="{{ slide.link }}"{% if slide.title|length > 0 %} alt="{{ slide.title }}"{% endif %}>{% endif %}
                <div class="slide-image">
                    <img src="{{ slide.image | media }}" alt="{{ slide.title }}" />
                </div>
                
                {% if slide.title|length > 0 or slide.content|length > 0 %}
                    <div class="slide-content font-semibold fs-6">
                        {% if slide.title|length > 0 %}
                            <div class="slide-title h5">{{ slide.title }}</div>
                        {% endif %}
                        {% if slide.content|length > 0 %}
                            <div class="slide-text">
                                {{ slide.content | md }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% if slide.link|length > 0 %}</a>{% endif %}
        </div>
    {% endfor %}

    {% if config.controls == '1' and config.children|length > 0 %}
        <div class="keen-slider-controls">
            <button type="button" class="btn btn-link" data-keen-slider-control="prev">
                {% partial "icons/bootstrap/arrow-left" %}
            </button>
            <button type="button" class="btn btn-link" data-keen-slider-control="next">
                {% partial "icons/bootstrap/arrow-right" %}
            </button>
        </div>
    {% endif %}

    {% if config.indicators == '1' and config.children|length > 0 %}
        <div class="keen-slider-indicators">
            {% for slide in config.children %}
                <button type="button" class="btn btn-link" data-keen-slider-indicator="{{ loop.index0 }}"></button>
            {% endfor %}
        </div>
    {% endif %}
</div>
