{% set classNames = 'content ' ~ config.class_names %}

<div{% if config.id and config.id | length > 0 %} id="{{ config.id }}"{% endif %} class="{{ classNames }}">
    {% if config.title | trim | length > 0 and config.layout != 'hidden' %}
        <{{config.layout}}>{{ config.title }}</{{config.layout}}>
    {% endif %}

    {% if config.type == 'markdown' %}
        {{ config.content_markdown | md }}
    {% elseif config.type == 'richtext' %}
        {{ config.content_richtext | raw }}
    {% elseif config.type == 'html' %}
        {{ config.content_html | raw }}
    {% else %}
        <p>{{ config.content_plaintext }}</p>
    {% endif %}
</div>
