[staticMenu mainMenu]
code = "main-menu"

[staticMenu socialMenu]
code = "social-menu"
==
{% macro menu(items, depth = 1, max_depth = 3) %}
    {% set ul_class = 'navbar-nav' %}
    {% if depth == 1 %}
        {% set ul_class = ul_class ~ ' mx-auto mx-lg-0 ms-lg-auto mx-xl-auto mb-2 mb-lg-0' %}
    {% else %}
        {% set ul_class = ul_class ~ ' navbar-subnav subnav-depth-' ~ depth %}
    {% endif %}

    <ul class="{{ ul_class }}">
        {% for item in items %}
            {% if not item.viewBag.isHidden %}
                {% set li_class = 'nav-item item-type-' ~ item.type %}
                {% if item.isActive %}
                    {% set li_class = li_class ~ ' item-current' %}
                {% endif %}
                {% if item.isChildActive %}
                    {% set li_class = li_class ~ ' item-current-parent' %}
                {% endif %}
                {% if item.items %}
                    {% set li_class = li_class ~ ' item-has-children' %}
                {% endif %}
                {% if item.viewBag.cssClass %}
                    {% set li_class = li_class ~ ' ' ~ item.viewBag.cssClass %}
                {% endif %}
                
                {% set a_class = 'nav-link' %}
                {% if item.isActive %}
                    {% set a_class = a_class ~ ' active' %}
                {% endif %}
                
                <li class="{{ li_class }}">
                    {% if item.type == 'header' %}
                        <span class="nav-title">{{ item.title }}</span>
                    {% else %}
                        <a href="{{ item.url }}" title="{{ item.title }}" class="{{ a_class }}"{% if item.viewBag.isExternal %} target="_blank"{% endif %}{% if item.isActive %} aria-current="page"{% endif %}>
                            {{ item.title }}
                        </a>
                    {% endif %}

                    {% if item.items and max_depth > depth %}
                        {{ _self.menu(item.items, depth+1, max_depth) }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

<nav class="navbar navbar-main navbar-expand-lg px-xl-5 py-lg-3">
    <div class="navbar-brand{% if this.theme.site_logo %} navbar-brand-image{% endif %}">
        <a href="{{ 'home' | page }}" class="navbar-brand-link" title="{{ this.theme.site_name }}">
            {% if this.theme.site_logo %}
                <img src="{{ this.theme.site_logo.getPath() }}" alt="{{ this.theme.site_name }}" class="hide-on-dark" />

                {% if this.theme.site_logo_inverted %}
                    <img src="{{ this.theme.site_logo_inverted.getPath() }}" alt="{{ this.theme.site_name }}" class="show-on-dark" />
                {% else %}
                    <img src="{{ this.theme.site_logo.getPath() }}" alt="{{ this.theme.site_name }}" class="show-on-dark" />
                {% endif %}
            {% else %}
                {{ this.theme.site_name }}
            {% endif %}
        </a>

        {% if this.theme.color_switch_top or this.theme.languages_menu_top %}
            <div class="theme-settings">
                {% if this.theme.languages_menu_top %}
                    {% partial 'localepicker/default' dropdown=true %}
                {% endif %}
                
                {% if this.theme.color_switch_top %}
                    {% partial 'colorpicker/default' %}
                {% endif %}
            </div>
        {% endif %}
    </div>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pageNavbar" aria-controls="pageNavbar" aria-expanded="false" aria-label="{{ 'site.navbar.toggle' | _ }}">
        <div class="navbar-toggler-menu">
            <div class="navbar-toggler-line"></div>
            <div class="navbar-toggler-line"></div>
            <div class="navbar-toggler-line"></div>
        </div>
    </button>

    <div id="pageNavbar" class="collapse navbar-collapse navbar-menu">
        {% if mainMenu and mainMenu.menuItems != null %}
            {{ _self.menu(mainMenu.menuItems) }}
        {% else %}
            {% if this.theme.show_demo %}
                {% partial 'demo/main-nav-content' %}
            {% endif %}
        {% endif %}
    </div>

    <div class="navbar-socials ms-lg-auto">
        {% if socialMenu and socialMenu.menuItems != null %}
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% for item in socialMenu.menuItems %}
                    {% if not item.viewBag.isHidden %}
                        <li class="nav-item item-type-{{ item.type }}{% if item.viewBag.cssClass %} {{ item.viewBag.cssClass }}{% endif %}">
                            <a href="{{ item.url }}" title="{{ item.title }}" class="nav-link"{% if item.viewBag.isExternal %} target="_blank"{% endif %}>
                                {% if hasPartial('icons/bootstrap/' ~ item.code) %}
                                    {% partial 'icons/bootstrap/' ~ item.code %}
                                {% else %}
                                    {% if hasPartial('icons/socials/' ~ item.code) %}
                                        {% partial 'icons/socials/' ~ item.code %}
                                    {% else %}
                                        {{ item.title }}
                                    {% endif %}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            {% if this.theme.show_demo %}
                {% partial 'demo/social-nav-content' %}
            {% endif %}
        {% endif %}
    </div>
</nav>