##
[staticMenu mainMenu]
code = "main-menu"

[staticMenu socialMenu]
code = "social-menu"

[staticMenu metaMenu]
code = "meta-menu"
==
{% from "page/macros.htm" import menu_builder, social_builder %}

{# TopBar (used on Extended Header Style) #}
{% set withMetaMenu = this.theme.header_style == 'extended' and metaMenu and metaMenu.menuItems and metaMenu.menuItems|length > 0 %}
{% set withSocialMenu = socialMenu and socialMenu.menuItems and socialMenu.menuItems|length > 0 %}
{% if this.theme.header_style == 'extended' and (withMetaMenu or withSocialMenu) %}
    <nav class="navbar navbar-topbar">
        <div class="container-fluid">
            {% if withMetaMenu %}
                {{ menu_builder(metaMenu.menuItems, 1, { 
                    ul_class: 'navbar-nav-meta' 
                }) }}
            {% endif %}
            
            {% if withMetaMenu and withSocialMenu %}
                <span class="navbar-separator">&nbsp;&bullet;&nbsp;</span>
            {% endif %}

            {% if withSocialMenu %}
                {{ social_builder(socialMenu.menuItems, { 
                    ul_class: 'navbar-nav-socials' 
                }) }}
            {% endif %}
        </div>
    </nav>
{% endif %}

{# Main Navbar #}
<nav class="navbar navbar-main navbar-expand-lg{{ withMetaMenu ? ' with-meta-menu': '' }}{{ withSocialMenu ? ' with-social-menu': '' }}">
        {% set innerClass = '' %}
        {% if this.theme.header_style == 'condensed' %}
            {% if this.theme.site_picker_top or this.theme.color_switch_top %}
                {% set innerClass = 'has-actions' %}
            {% endif %}
        {% endif %}
    <div class="container-fluid navbar-main-inner{{ innerClass ? ' ' ~ innerClass : '' }}">

        {# Brand (Condensed & Extended) #}
        <a href="{{ 'home' | page }}" class="navbar-brand" title="{{ this.theme.site_name }}">
            {% if this.theme.site_logo is defined and this.theme.site_logo %}
                <img src="{{ this.theme.site_logo.getPath() }}" alt="{{ this.theme.site_name }}" class="hide-on-dark" />

                {% if this.theme.site_logo_inverted %}
                    <img src="{{ this.theme.site_logo_inverted.getPath() }}" alt="{{ this.theme.site_name }}" class="show-on-dark" />
                {% else %}
                    <img src="{{ this.theme.site_logo.getPath() }}" alt="{{ this.theme.site_name }}" class="show-on-dark" />
                {% endif %}
            {% else %}
                {{ this.theme.site_name }}
            {% endif %}
        </a>

        {# Main Navigation (Condensed & Extended) #}
        {% if mainMenu and mainMenu.menuItems != null and mainMenu.menuItems|length > 0 %}
            {{ menu_builder(mainMenu.menuItems, 3, {
                ul_id: 'pageHeaderMainMenu',
                ul_class: 'navbar-nav-main'
            }) }}
        {% endif %}

        {# Site Picker | Color Picker (Condensed) #}
        {% if this.theme.header_style == 'condensed' %}
            {% if this.theme.site_picker_top or (this.theme.color_switch_top and this.theme.enable_dark_scheme) %}
                <div class="navbar-actions">
                    {% if this.theme.site_picker_top %}
                        {% partial 'page/navbar/localepicker/default' %}
                    {% endif %}
                    
                    {% if this.theme.color_switch_top and this.theme.enable_dark_scheme %}
                        {% partial 'page/navbar/colorpicker/default' %}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}

        {# Social Navigation (Condensed) #}
        {% if this.theme.header_style == 'condensed' %}
            {% if socialMenu and socialMenu.menuItems and socialMenu.menuItems | length > 0 %}
                {{ social_builder(socialMenu.menuItems, { 
                    ul_class: 'navbar-nav-socials' 
                }) }}
            {% endif %}
        {% endif %}

        {# Action Toolbar (Extended) #}
        {% if this.theme.header_style == 'extended' %}
            {% set actions = 0 %}
            {% if this.theme.color_switch_top and this.theme.enable_dark_scheme %}
                {% set actions = actions + 1 %}
            {% endif %}
            {% if this.theme.site_picker_top %}
                {% set actions = actions + 1 %}
            {% endif %}
            {% if this.theme.search_button %}
                {% set actions = actions + 1 %}
            {% endif %}
            {% if this.theme.user_button %}
                {% set actions = actions + 1 %}
            {% endif %}

            <div class="navbar-actions{{ actions >= 2 ? ' actions-toggle': '' }}">
                {% if this.theme.site_picker_top %}
                    {% partial 'page/navbar/localepicker/default' %}
                {% endif %}

                {% if this.theme.color_switch_top %}
                    {% partial 'page/navbar/colorpicker/default' %}
                {% endif %}

                {% if this.theme.search_button %}
                    {% partial 'page/navbar/searchaction/default' %}
                {% endif %}

                {% if this.theme.user_button %}
                    {% partial 'page/navbar/useraction/default' %}
                {% endif %}

                {% if actions >= 2 %}
                    <button class="navbar-action-toggler collapsed" type="button">
                        {% partial 'icons/bootstrap/wrench-adjustable-circle' %}
                    </button>
                {% endif %}
            </div>
        {% endif %}

        {# Navbar Toggler (Condensed & Extended) #}
        <button class="navbar-toggler collapsed" type="button" aria-expanded="false" aria-label="{{ 'alt.navbar_toggle' | _ }}">
            <svg class="close-button" viewBox="0 0 100 100" width="40" onclick="this.classList.toggle('active')">
                <path d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
                <path d="m 70,50 h -40" />
                <path d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
            </svg>
        </button>
    </div>
</nav>
