##
==
<?php
function onStart() {
    if ($this->layout->hasComponent('blogPosts')) {
        $postPage = $this->layout->getComponent('blogPosts')->property('postPage');
        $categoryPage = $this->layout->getComponent('blogPosts')->property('postPage');
    }
    if (!isset($postPage) || empty($postPage)) {
        $postPage = 'blog/post';
    }
    if (!isset($categoryPage) || empty($categoryPage)) {
        $categoryPage = 'blog/category';
    }

    $posts = \RainLab\Blog\Models\Post::with(['categories', 'featured_images'])->listFrontEnd([
        'page'             => 1,
        'sort'             => 'published_at desc',
        'perPage'          => $this->theme->hero_slider_number ?? 6,
        'category'         => $this->theme->hero_slider_category,
        'published'        => true,
    ]);

    $this['heroSliderPosts'] = $posts->each(function($post) use ($postPage, $categoryPage) {
        $post->setUrl($postPage, $this->controller);
        $post->categories->each(fn($cat) => $cat->setUrl($categoryPage, $this->controller));
    });
}
?>
==
{% if heroSliderPosts.count > 0 %}
    <div id="heroSlider-{{ this.page.id }}" class="keen-slider-container keen-slider-hero">
        <div class="keen-slider" data-keen-slider="{ preset: 'hero' }" data-keen-controls="#heroSlider-{{ this.page.id }} [data-keen-slider-control]">
            {% for post in heroSliderPosts %}
                <div class="keen-slider-slide">
                    <a href="{{ post.url }}" title="{{ post.title }}" class="hero-slide-item">
                        <div class="slide-image">
                            <img src="{{ post.featured_images.0.getPath() }}" alt="{{ post.title }}" />
                        </div>
                        <div class="slide-content">
                            {% if post.ratmd_bloghub_meta_data.simple_title and post.ratmd_bloghub_meta_data.simple_subtitle %}
                                <div class="content-subtitle">{{ post.ratmd_bloghub_meta_data.simple_subtitle }}</div>
                                <div class="content-title">{{ post.ratmd_bloghub_meta_data.simple_title }}</div>
                            {% else %}
                                <div class="content-title">{{ post.title }}</div>
                            {% endif %}

                            <div class="content-badges">
                                {% for tag in post.ratmd_bloghub_tags %}
                                    {% if tag.promote %}
                                        <span class="badge{% if not tag.color %} bg-primary{% endif %}" {% if tag.color %}style="background-color: {{ tag.color }}"{% endif %}>
                                            {% if not tag.title %}
                                                {{ tag.slug | title }}
                                            {% else %}
                                                {{ tag.title }}
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="keen-slider-controls">
            <button type="button" class="btn btn-link" data-keen-slider-control="prev">
                {% partial "icons/bootstrap/chevron-left" %}
            </button>
            <button type="button" class="btn btn-link" data-keen-slider-control="next">
                {% partial "icons/bootstrap/chevron-right" %}
            </button>
        </div>
    </div>
{% endif %}