{#
 #  MULTI-LEVEL MENU BUILDER
 #
 #  @param array items The items to be used for the menu.
 #  @param integer max_depth The maximum allowed depth
 #  @param integer depth The current depth
 #}
{% macro menu_builder(items, max_depth = 3, options = {}, depth = 1) %}
    {% set ul_class = 'navbar-nav' ~ (depth > 1 ? ' navbar-subnav' : '') ~ (max_depth > 1 ? ' navbar-depth-' ~ depth : '') %}
    {% if depth == 1 and options.ul_class is defined %}
        {% set ul_class = ul_class ~ ' ' ~ options.ul_class %}
    {% endif %}

    <ul{% if depth == 1 and options.ul_id is defined and options.ul_id|length > 0 %} id="{{ options.ul_id }}"{% endif %} class="{{ ul_class }}">
        {% for item in items %}
            {% if not item.viewBag.isHidden|default(0) %}
                {% set li_class = 'nav-item item-type-' ~ item.type %}
                {% if item.isActive %}
                    {% set li_class = li_class ~ ' item-current' %}
                {% endif %}
                {% if item.isChildActive %}
                    {% set li_class = li_class ~ ' item-current-parent' %}
                {% endif %}
                {% if item.items and item.items|length > 0 %}
                    {% set li_class = li_class ~ ' item-has-children' %}
                {% endif %}
                {% if depth == 1 and options.li_class is defined %}
                    {% set li_class = li_class ~ ' ' ~ options.li_class %}
                {% endif %}
                {% if item.viewBag.cssClass is defined and item.viewBag.cssClass %}
                    {% set li_class = li_class ~ ' ' ~ item.viewBag.cssClass %}
                {% endif %}
                
                {% set a_class = 'nav-link' %}
                {% if item.isActive %}
                    {% set a_class = a_class ~ ' active' %}
                {% endif %}
                {% if depth == 1 and options.a_class is defined %}
                    {% set a_class = a_class ~ ' ' ~ options.a_class %}
                {% endif %}
                {% if item.viewBag.isExternal|default(0) %}
                    {% set a_class = a_class ~ ' link-external' %}
                {% endif %}

                <li class="{{ li_class }}">
                    {% if item.type == 'header' %}
                        <span class="nav-title">{{ item.title }}</span>
                    {% else %}
                        <a href="{{ item.url }}" title="{{ item.title }}" class="{{ a_class }}"{% if item.viewBag.isExternal|default(0) %} target="_blank"{% endif %}{% if item.isActive %} aria-current="page"{% endif %}>
                            {{ item.title }}
                        </a>
                    {% endif %}

                    {% if item.items and max_depth > depth %}
                        <button class="navbar-subnav-toggler collapsed" type="button" aria-expanded="false" aria-label="{{ 'alt.navbar_toggle' | _ }}">
                            {% partial 'icons/bootstrap/chevron-right' %}
                            <svg width='10px' height='8px' viewBox='0 0 4 3' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' fill='currentColor'><path d='M1.94,1.42l-1.28,-1.28l-0.66,0.66l1.94,1.94l0.658,-0.66l0,0.001l1.242,-1.242l-0.66,-0.659l-1.24,1.24Z'/></svg>
                        </button>

                        {% if 'master-menu' in li_class %}
                            {{ _self.master_menu(item.items) }}
                        {% else %}
                            {{ _self.menu_builder(item.items, max_depth, options, depth+1) }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}


{#
 #  MASTER MENU BUILDER
 #
 #  @param array items The items to be used for the menu.
 #}
{% macro master_menu(items) %}
    <div class="navbar-subnav-master">
        <div class="container d-flex flex-column flex-lg-row p-0">
            {% for item in items %}
                <ul class="navbar-nav">
                    <li class="nav-item item-type-header">
                        <span class="nav-title">{{ item.title }}</span>
                    </li>

                    {% for child in item.items %}
                        {% if not child.viewBag.isHidden|default(0) and child.type != 'header' %}
                            {% set li_class = 'nav-item item-type-' ~ child.type %}
                            {% if child.isActive %}
                                {% set li_class = li_class ~ ' item-current' %}
                            {% endif %}
                            {% if child.viewBag.cssClass is defined and child.viewBag.cssClass %}
                                {% set li_class = li_class ~ ' ' ~ child.viewBag.cssClass %}
                            {% endif %}
                            
                            {% set a_class = 'nav-link' %}
                            {% if child.isActive %}
                                {% set a_class = a_class ~ ' active' %}
                            {% endif %}
                            {% if child.viewBag.isExternal|default(0) %}
                                {% set a_class = a_class ~ ' link-external' %}
                            {% endif %}

                            <li class="{{ li_class }}">
                                <a href="{{ child.url }}" title="{{ child.title }}" class="{{ a_class }}"{% if child.viewBag.isExternal|default(0) %} target="_blank"{% endif %}{% if child.isActive %} aria-current="page"{% endif %}>
                                    {{ child.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endmacro %}


{#
 #  SINGLE-DEPTH SOCIAL MENU BUILDER
 #
 #  @param array items The items to be used for the menu.
 #}
{% macro social_builder(items, options) %}
    {% set ul_class = 'navbar-nav' %}
    {% if options.ul_class is defined %}
        {% set ul_class = ul_class ~ ' ' ~ options.ul_class %}
    {% endif %}

    <ul class="{{ ul_class }}">
        {% for item in items %}
            {% set li_class = 'nav-item item-social-' ~ item.code ~ ' item-type-' ~ item.type %}
            {% if options.li_class is defined %}
                {% set li_class = li_class ~ ' ' ~ options.li_class %}
            {% endif %}
            {% if item.viewBag.cssClass is defined and item.viewBag.cssClass %}
                {% set li_class = li_class ~ ' ' ~ item.viewBag.cssClass %}
            {% endif %}
            
            {% set a_class = 'nav-link' %}
            {% if options.a_class is defined %}
                {% set a_class = a_class ~ ' ' ~ options.a_class %}
            {% endif %}
            
            {% if not item.viewBag.isHidden|default(0) %}
                <li class="{{ li_class }}">
                    <a href="{{ item.url }}" title="{{ item.title }}" class="{{ a_class }}"{% if item.viewBag.isExternal|default(0) %} target="_blank"{% endif %}>
                        {% if hasPartial('icons/socials/' ~ item.code) %}
                            {% partial 'icons/socials/' ~ item.code %}
                        {% else %}
                            {% if hasPartial('icons/bootstrap/' ~ item.code) %}
                                {% partial 'icons/bootstrap/' ~ item.code %}
                            {% else %}
                                {{ item.title }}
                            {% endif %}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}


{#
 #  MULTI-DEPTH TABLE OF CONTENTS BUILDER
 #
 #  @param array items The items to be used for the menu.
 #  @param integer depth The current depth
 #}
{% macro toc_builder(items, path = '/', depth=1) %}
    <ul class="toc toc-depth-{{depth}}">
        {% for item in items %}
            <li class="toc-item" data-toc-position="{{ depth }}">
                <a href="{{ path }}#{{ item.id }}" title="{{ 'alt.goto' | _ }}: {{ item.label }}">{{ item.label }}</a>
            </li>

            {% if item.children %}
                {{ _self.toc_builder(item.children, path, depth+1) }}
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
