{% if legacy or this.theme.embed_jquery %}
    <script src="{{ ['@jquery', '@framework']|theme }}"></script>
{% else %}
    {% framework %}
{% endif %}
{% if this.theme.embed_extras %}
    <script src="{{ ['@framework.extras']|theme }}"></script>
{% endif %}
{% if this.viteScripts is not defined %}
    <script src="{{ 'assets/js/vendors.min.js'|theme }}?ver={{ this.themeVersion }}"></script>
    <script src="{{ 'assets/js/newshub.min.js'|theme }}?ver={{ this.themeVersion }}"></script>
{% endif %}
{% scripts %}
