<?php 
    $name = $field->getName();
    $number = intval(substr($name, 26, strpos($name, ']', 26) - 26));
    $props = $model->getViewBag()->getProperties();

    // Backwards Compatibility to PageBuilder in NewsHub v1.2
    if (is_string($props['content_elements'][$number]['title'])) {
        $label = $props['content_elements'][$number]['title'];
        $layout = $props['content_elements'][$number]['layout'];
    } else {
        $label = is_null($value) ? '' : ($value['label'] ?? '');
        $layout = is_null($value) ? '' : ($value['layout'] ?? '');
    }
?>

<div class="input-group ratmd-newshub-input-dropdown-field">
    <input
        type="text"
        id="<?= $field->getId('label') ?>"
        name="<?= $field->getName() ?>[label]"
        value="<?= $label ?>"
        class="form-control"
        placeholder="Title"
        autocomplete="off" />
    <div class="col" style="flex: 0 0 20%">
        <select
            id="<?= $field->getId('layout') ?>"
            name="<?= $field->getName() ?>[layout]"
            class="form-control custom-select select-no-search"
        >
            <?php foreach ($field->getConfig('options') as $value => $option): ?>
                <option value="<?= e($value) ?>"<?php echo $layout === $value ? ' selected="selected"' : "" ?>><?= e(trans($option)) ?></option>
            <?php endforeach ?>
        </select>
    </div>
</div>