
// ----------------------------------------
//  Bootstrap Configuration
// ----------------------------------------

$enable-caret:                  true;
$enable-rounded:                false;
$enable-shadows:                false;
$enable-gradients:              false;
$enable-transitions:            true;
$enable-reduced-motion:         true;
$enable-smooth-scroll:          true;
$enable-grid-classes:           true;
$enable-container-classes:      true;
$enable-cssgrid:                true;
$enable-button-pointers:        true;
$enable-rfs:                    true;
$enable-validation-icons:       true;
$enable-negative-margins:       true;
$enable-deprecation-messages:   true;
$enable-important-utilities:    true;


// ----------------------------------------
//  Modify Gray Color Scheme
// ----------------------------------------

$gray-100: #fafafa;
$gray-200: #f4f4f5;
$gray-300: #e4e4e7;
$gray-400: #d4d4d8;
$gray-500: #a1a1aa;
$gray-600: #71717a;
$gray-700: #52525b;
$gray-800: #3f3f46;
$gray-900: #27272a;
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;


// ----------------------------------------
//  Font Variables
// ----------------------------------------

$font-family-serif:                 Georgia, "Times New Roman", Times, serif;
$font-family-special:               'Alegreya Sans', sans-serif;
$headings-font-family:              $font-family-special;


// ----------------------------------------
//  Badge Variables
// ----------------------------------------

$badge-border-radius:               0;


// ----------------------------------------
//  Input | Button Variables
// ----------------------------------------

$input-btn-padding-y:         0.5rem;
$input-btn-padding-x:         1.0rem;


// ----------------------------------------
//  Custom Social Network Colors
// ----------------------------------------

$social-networks: (
    500px:                          #0099e5,
    amazon:                         #ff9900,
    deviantart:                     #05cc47,
    discord:                        #5865f2,
    dribbble:                       #ea4c89,
    facebook:                       #1877f2,
    flickr:                         #f40083,
    foursquare:                     #f94877,
    instagram:                      #c32aa3,
    linkedin:                       #0a66c2,
    mastodon:                       #2b90d9,
    medium:                         #02b875,
    pinterest:                      #bd081c,
    quora:                          #aa2200,
    reddit:                         #ff4500,
    rss:                            #f26522,
    rss-fill:                       #f26522,
    slack:                          #4a154b,
    soundcloud:                     #ff5500,
    spotify:                        #1ed760,
    steam:                          #171A21,
    telegram:                       #0088cc,
    tumblr:                         #35465d,
    twitch:                         #9146ff,
    twitter:                        #1da1f2,
    vimeo:                          #1ab7ea,
    vk:                             #4a76a8,
    whatsapp:                       #25d366,
    youtube:                        #ff0000,
);
