##
==
<?
function onEnd()
{
    $config = $this['options'];
    $limit = is_numeric($config['widget_authors_count'])? intval($config['widget_authors_count']): 5;
    $showAvatar = $config['widget_authors_avatar'] === '1';
    $showCount = $config['widget_authors_posts_count'] === '1';

    // Main Tags Query
    $authors = Backend\Models\User::with('avatar')
        ->select('*', DB::raw('(
            SELECT count(*) FROM "rainlab_blog_posts"
        INNER JOIN "backend_users" 
                ON "backend_users"."id" = "rainlab_blog_posts"."user_id"
             WHERE "rainlab_blog_posts"."published" IS NOT NULL
        ) as posts_count'))
        ->where('posts_count', '>', 0);

    // Apply Query
    $ctrl = Cms\Classes\Controller::getController();
    $viewBag = $ctrl->getLayout()->getViewBag()->getProperties();

    $this['widget_authors'] = $authors->get()->all();
    $this['widget_authors_show_avatar'] = $showAvatar;
    $this['widget_authors_show_count'] = $showCount;
}
?>
==

{% if widget_authors|length > 0 %}
    <div class="card card-simple">
        {% if widget.widget_title or widget.widget_subtitle %}
            <div class="card-header">
                {% if widget.widget_title or widget.widget_subtitle %}
                    <h2 class="card-title">{{ widget.widget_title }}</h2>
                {% endif %}
                {% if widget.widget_title or widget.widget_subtitle %}
                    <span class="card-subtitle">{{ widget.widget_subtitle }}</span>
                {% endif %}
            </div>
        {% endif %}

        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for author in widget_authors %}
                    <li class="list-group-item">
                        <a href="{{ ('magazine/author/' ~ author.bloghub_slug()) | app }}" title="{{ 'archive.author_archive' | _ }}: {{ author.bloghub_display() }}">
                            {{ author.bloghub_display() }}

                            {% if widget_authors_show_count %}
                                {% set count = author.posts_count | default(0) %}
                                <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill{{ count == 0? ' bg-secondary': ' bg-danger' }}">
                                    {{ count }}
                                </span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
