##
==
<?
function onEnd()
{
    $config = $this['config'];
    $limit = is_numeric($config['number'])? intval($config['number']): 5;

    // Main Posts Query
    $prefix = 'widget-posts-';
    $posts = \RainLab\Blog\Models\Post::with(['categories', 'featured_images', 'ratmd_bloghub_tags'])
        ->where('published', '1')
        ->limit($limit);

    // Modify Query
    switch($config['list_type']) {
        case "latest":
            $posts->orderBy('published_at', 'DESC');
            $prefix = 'widget-latest-';
            break;
        case "random":
            $posts->inRandomOrder();
            $prefix = 'widget-random-';
            break;
        case "by_author":
            $posts->where('user_id', $config['list_author']);
            $prefix = 'widget-byauthor-';
            break;
        case "by_category":
            $category = $config['list_category'];
            $posts->whereHas('categories', function($query) use ($category) {
                return $query->where('rainlab_blog_categories.id', $category);
            });
            $prefix = 'widget-bycategory-';
            break;
        case "by_tag":
            $tag = $config['list_tag'];
            $posts->whereHas('ratmd_bloghub_tags', function($query) use ($tag) {
                return $query->where('ratmd_bloghub_tags.id', $tag);
            });
            $prefix = 'widget-bytag-';
            break;
        case "by_views":
            $posts->orderBy('ratmd_bloghub_views', 'DESC');
            $prefix = 'widget-byviews-';
            break;
        case "by_unique_views":
            $posts->orderBy('ratmd_bloghub_unique_views', 'DESC');
            $prefix = 'widget-byuniqueviews-';
            break;
    }

    // Apply Query
    $ctrl = Cms\Classes\Controller::getController();
    $component = $ctrl->getLayout()->getComponentProperties('blogPosts');

    $this['widget_posts'] = $posts->get()->each(function ($model) use ($component, $ctrl) {
        $model->setUrl($component['postPage'], $ctrl);
    })->all();
    $this['widget_posts_prefix'] = $prefix;
}
?>
==

{% if widget_posts|length > 0 %}
    <div class="card card-simple">
        {% partial 'sidebars/widgets/_header' config=config %}

        <div class="card-body">
            {% partial 'blog/sections/posts-condensed'
                posts=widget_posts
                prefix=widget_posts_prefix
                datetime='short'
            %}
        </div>
    </div>
{% endif %}