{% if options.widget_same_category == '1' %}
    {% set prevPost = post.bloghub_prev_post_in_category %}
    {% set nextPost = post.bloghub_next_post_in_category %}
{% else %}
    {% set prevPost = post.bloghub_prev_post %}
    {% set nextPost = post.bloghub_next_post %}
{% endif %}

{% if prevPost or nextPost %}
    {% if wrap %}<div class="{{ wrap }}">{% endif %}
    <div class="card card-simple">
        {% if widget.widget_title or widget.widget_subtitle %}
            <div class="card-header">
                {% if widget.widget_title or widget.widget_subtitle %}
                    <h2 class="card-title">{{ widget.widget_title }}</h2>
                {% endif %}
                {% if widget.widget_title or widget.widget_subtitle %}
                    <span class="card-subtitle">{{ widget.widget_subtitle }}</span>
                {% endif %}
            </div>
        {% endif %}

        <div class="card-body">
            {% if prevPost %}
                {% partial 'blog/components/button' post=prevPost %}
            {% endif %}

            {% if nextPost %}
                {% partial 'blog/components/button' post=nextPost %}
            {% endif %}
        </div>   
    </div>
    {% if wrap %}</div>{% endif %}
{% endif %}
