##
==
<?
function onEnd()
{
    $config = $this['config'];
    $this->controller->addComponent('staticMenu', 'widget_static_menu', [
        'code' => $config['menu_code']
    ], false);
}
?>
==
{% if widget_static_menu.menuItems|length > 0 %}
    <div class="card card-simple">
        {% partial 'sidebars/widgets/_header' config=config %}

        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for item in widget_static_menu.menuItems %}
                    <li class="list-group-item">
                        <a href="{{ item.url }}" title="x{{ item.title }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
