
// ----------------------------------------
//  ColorPicker Component
// ----------------------------------------

.color-picker {
    width: 34px;
    height: 34px;
    
    label {
        cursor: pointer;
        margin: 0;
        padding: $spacer * 0.3;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: $border-radius;
        background-color: transparent;
        transition: background-color .15s ease;
        
        &:hover,
        &:focus,
        &:focus-within {
            background-color: var(--#{$prefix}gray-300);
        }

        .dark & {
            color: var(--#{$prefix}gray-300);
        }
        .dark &:hover,
        .dark &:focus,
        .dark &:focus-within {
            background-color: var(--#{$prefix}gray-800);
        }

        input[type="checkbox"] {
            display: none;

            &:not(:checked) + span + span {
                display: none;
            }
            &:checked + span {
                display: none;
            }
        }

        span {
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}
