
// ----------------------------------------
//  Modal Component
// ----------------------------------------
.modal {
    .modal-content {
        box-shadow: $box-shadow-lg;
    }

    .modal-header {
        border-bottom: 0;
        background-color: var(--#{$prefix}gray-100);
    }
    
    .modal-body {
        padding-top: 0;
        padding-bottom: 0;
    }

    .modal-header + .modal-body {
        padding-top: $spacer * 2;
    }

    .modal-footer {
        border-top: 0;
    }

    .dark & {
        .modal-header {
            background-color: var(--#{$prefix}gray-900);
        }
        
        .modal-body {
            background-color: var(--#{$prefix}gray-800);
        }
    
        .modal-footer {
            background-color: var(--#{$prefix}gray-800);
        }
    }
}


// ----------------------------------------
//  Special Search Modal Component
// ----------------------------------------
.modal-search {
    .modal-content {
        .modal-body {
            padding: $spacer * 1.5;
            position: relative;
        }

        input {
            border-radius: 0;
        }

        .btn-close {
            top: 100%;
            left: 50%;
            opacity: 1;
            padding: $spacer * 0.75;
            position: absolute;
            transform: translateX(-50%);
            background-color: var(--#{$prefix}gray-200);
            border-radius: 0;
            transition: background-color .15s ease;
            box-shadow: none;

            &:hover {
                background-color: var(--#{$prefix}white);
            }
        }
    }

    .dark & .modal-content .modal-body {
        .btn-close {
            background-color: var(--#{$prefix}gray-900);

            &:hover {
                background-color: var(--#{$prefix}gray-800);
            }
        }
    }
}
