
// ----------------------------------------
//  Page Header Stylings
// ----------------------------------------

.page-header-top {
    transition: height 200ms ease;

    nav {
        padding-top: $spacer * 0.2;
        padding-bottom: $spacer * 0.2;
    }
}
.page-header {
    &:not(.sticky-top) {
        position: relative;
    }
    z-index: 1000;

    .overlay-navbar > & {
        height: 0;
        
        > * {
            --bs-bg-opacity: 0.5;
        }
    }
}


// ----------------------------------------
//  Navbar Custom Properties
// ----------------------------------------

.navbar {
    --#{$prefix}navbar-menu-toggler-icon: #{escape-svg($navbar-menu-toggler-icon)};
}
.dark .navbar {
    --#{$prefix}navbar-menu-toggler-icon: #{escape-svg($navbar-dark-menu-toggler-icon)};
}


// ----------------------------------------
//  General Navbar Stylings
// ----------------------------------------

.navbar-nav {
    @include media-breakpoint-up(md) {
        padding-left: $spacer * 2.0;
        padding-right: $spacer * 2.0;
    }

    // Nav Item
    .nav-item {
        .nav-link {
            font-weight: 600;
        }

        .nav-title {
            @extend .nav-link;
            font-weight: 600;
        }
    }

    // Social Colors
    @each $name, $hex in $social-networks {
        .nav-item.item-social-#{$name} {
            .nav-link:hover {
                color: #{$hex} !important;
            }
        }
    }
}


// ----------------------------------------
//  Main Navbar Stylings
// ----------------------------------------

.navbar-main {
    display: flex;
    flex-wrap: wrap;

    .dark & {
        @extend .navbar-dark;
    }

    @include media-breakpoint-up(lg) {
        padding-left: $spacer * 2;
        padding-right: $spacer * 2;
        justify-content: space-between;
    }

    // Navbar Toggler 
    // @source https://www.geeksforgeeks.org/how-to-convert-the-hamburger-icon-of-navigation-menu-to-x-on-click/
    .navbar-toggler {
        order: 3;
        border: 0;
        box-shadow: none;

        .navbar-toggler-menu {
            padding-top: 2px;
            position: relative;
            transition: transform 0.375s ease-out;

            .navbar-toggler-line {
                width: 28px;
                height: 3px;
                margin: 0 0 5px 0;
                background: $gray-700;
                transition: transform 0.375s ease-out, opacity 0.375s ease-out;
                border-radius: 3px;
            }
        }

        &:not(.collapsed) .navbar-toggler-menu {
            transform: rotate(180deg);

            .navbar-toggler-line:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            .navbar-toggler-line:nth-child(2) {
                opacity: 0;
            }
            .navbar-toggler-line:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}


// ----------------------------------------
//  Navbar Brand Stylings
// ----------------------------------------

.navbar-brand {
    order: 2;
    display: flex;
    font-family: $font-family-special;
    font-weight: 800;
    text-transform: uppercase;
    
    @include media-breakpoint-up(lg) {
        flex: 0 0 25%;
        margin-right: 0;
    }

    &.navbar-brand-image {
        padding-top: 0;
        padding-bottom: 0;
    }
    img {
        width: auto;
        max-height: 40px;
    }
    a {
        order: 1;
        color: var(--#{$prefix}navbar-brand-color);
        padding-left: $spacer;
        padding-right: $spacer;
        display: block;
        white-space: nowrap;
        text-decoration: none;
    }
    .theme-settings {
        order: 2;
        display: flex;
        margin-left: $spacer;
        align-items: center;
        justify-content: center;

        & > * {
            margin-left: $spacer * 0.5;
        }
    }
}


// ----------------------------------------
//  Main Menu Navbar Stylings
// ----------------------------------------

.navbar-menu {
    order: 4;
    
    @include media-breakpoint-up(lg) {
        order: 3;
        flex: 0 0 75%;
    }
    @include media-breakpoint-up(xl) {
        order: 3;
        flex: 0 0 50%;
    }
    
    @include media-breakpoint-up(lg) {
        .navbar-nav {
            .nav-item {
                position: relative;

                .nav-link,
                .nav-title {
                    padding-left: $spacer;
                    padding-right: $spacer;
                }
                &.item-has-children > .nav-link,
                &.item-has-children > .nav-title {
                    &::after {
                        width: 12px;
                        height: 9px;
                        margin: 0.5rem 0 0 0.2rem;
                        content: "";
                        display: inline-block;
                        vertical-align: top;
                        background-size: 12px 9px;
                        background-image: var(--#{$prefix}navbar-menu-toggler-icon);
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
    }

    .navbar-subnav {
        padding-left: $spacer * 1.5;
        border-left: 3px solid var(--#{$prefix}navbar-toggler-border-color);

        @include media-breakpoint-up(lg) {
            top: 100%;
            left: 50%;
            width: auto;
            margin-top: 15px;
            opacity: 0;
            padding-left: 0;
            padding-right: 0;
            border-left: none;
            position: absolute;
            flex-direction: column;
            background-color: $white;
            transform: translateX(-50%);
            box-shadow: $box-shadow;
            pointer-events: none;
            transition: margin 200ms ease, opacity 200ms ease;

            .nav-item {
                flex: 0 0 100%;
                width: 100%;
                position: relative;

                &:first-child::before {
                    top: -10px;
                    left: 50%;
                    width: 20px;
                    margin-left: -10px;
                    height: 0;
                    content: "";
                    position: absolute;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent $white transparent;
                    transition: border-color .15s ease-in-out;
                }
                .nav-link,
                .nav-title {
                    color: $gray-900;
                    padding: $spacer * 0.5 $spacer * 1.15;
                    padding-right: calc($spacer * 0.5 + 24px);
                    position: relative;
                    font-weight: normal;
                    white-space: nowrap;
                }

                &.item-has-children > .nav-link,
                &.item-has-children > .nav-title {
                    &::after {
                        right: 10px;
                        position: absolute;
                        transform: rotate(-90deg);
                    }
                }

                &:hover {
                    &:first-child::before {
                        border-bottom-color: $gray-200;
                    }
                    & > .nav-link,
                    & > .nav-title {
                        background-color: $gray-200;
                    }
                }
            }

            .navbar-subnav {
                top: 0;
                left: 100%;
                margin-top: 0;
                margin-left: 15px;
                transform: translateX(0);
                
                .nav-item:first-child::before {
                    display: none;
                    content: none;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .nav-item:hover > .navbar-subnav {
            margin-top: 0;
            opacity: 1;
            pointer-events: fill;
        }
        .navbar-subnav .nav-item:hover > .navbar-subnav {
            margin-left: 0;
        }
        .nav-item.item-has-children.columns-2 > .navbar-subnav {
            display: grid;
            grid-template-columns: 50% 50%;

            .nav-item:nth-child(odd) {
                border-right: 1px solid $gray-300;
                margin-right: -1px;
            }
            .nav-item:nth-child(even) {
                border-left: 1px solid $gray-300;
                margin-left: -1px;
            }
            .nav-item:first-child::before {
                left: 100%;
                margin-left: -10px;
                border-color: transparent transparent $white transparent;
                transition: none;
            }
            .nav-item:first-child::after {
                top: 0;
                left: 100%;
                width: 20px;
                margin-left: -10px;
                height: 0;
                content: "";
                z-index: 50;
                position: absolute;
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color: $white transparent transparent transparent;
            }
        }
    }
}


// ----------------------------------------
//  Social Navbar Stylings
// ----------------------------------------

.navbar-socials {
    order: 1;
    flex: 0 0 100%;
    overflow: hidden;
    transition: height 200ms ease;
    
    @include media-breakpoint-up(xl) {
        order: 4;
        flex: 0 0 25%;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;

        @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-right: 0;
            justify-content: flex-end;
        }
        .nav-link {
            color: var(--#{$prefix}gray-600);
            width: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
        
    @include media-breakpoint-down(lg) {
        .sticky-top.sticky-header.sticky-scroll & {
            height: 0 !important;
        }
    }
}


// ----------------------------------------
//  Meta / Top Navbar Stylings
// ----------------------------------------

.navbar-top {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    @include media-breakpoint-up(lg) {
        padding-left: $spacer;
        padding-right: $spacer;
        flex-direction: row;
    }

    & > span {
        display: none;
        opacity: 0.5;

        @include media-breakpoint-up(lg) {
            display: inline-block;
        }
    }
    .navbar-nav {
        flex: 0 0 auto;
        width: auto;
        margin: 0 !important;
        padding: 0 !important;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .nav-item {
            display: flex;
            align-items: center;

            a {
                @extend .fs-7;
                display: flex;
                align-items: center;
                padding: $spacer * 0.5;
                font-weight: 400;
            }
        }
    }
}


// ----------------------------------------
//  Main / Actions Navbar Stylings
// ----------------------------------------

.navbar-actions {
    order: 1;
    flex: 0 0 100%;
    overflow: hidden;
    transition: height 200ms ease;

    @include media-breakpoint-up(xl) {
        order: 4;
        flex: 0 0 25%;
        overflow: visible
    }
    
    .navbar-nav {
        flex-direction: row;
        justify-content: center;

        @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-right: 0;
            justify-content: flex-end;
        }

        li.nav-item {
            width: 28px;
            height: 28px;
            margin-left: $spacer * 0.5;
            display: flex;
            align-items: center;
            justify-content: center;

            .colorpicker,
            .colorpicker label,
            .colorpicker label span,
            .localepicker,
            .localepicker button,
            .localepicker button img {
                width: 28px;
                height: 28px;
                border: 0;
                opacity: 1;
            }

            .colorpicker label,
            .nav-btn {
                cursor: pointer;
                color: $gray-800;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $gray-300;
                border-radius: 50%;
            }
        }
    }
}


// ----------------------------------------
//  Extended Header Navbar Stylings
// ----------------------------------------

.header-extended {
    .navbar-toggler.action-toggler {
        order: 2;
        border: 0;
        padding-top: 0;
        padding-left: $spacer;
        padding-right: $spacer;
        margin-left: auto;
        position: relative;
        box-shadow: none;
        border-right: 1px solid $gray-300;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));

        svg {
            width: 24px;
            height: 24px;
            fill: $gray-700;
        }
        
        &:not(.collapsed) {
            right: 0;
            z-index: 200;
            padding-top: 3px;
            position: absolute;
        }

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    .navbar-main {
        position: static;

        
        @include media-breakpoint-up(lg) {
            .navbar-menu {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .navbar-actions {
        top: 0;
        left: 102vw;
        right: 0;
        bottom: 0;
        z-index: 150;
        position: absolute;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
        transition: left 200ms ease;

        @include media-breakpoint-up(md) {
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            flex: 0 0 auto;
            width: auto;
            order: 2;
            margin-top: -3px;
            margin-left: auto;
            overflow: visible;
            position: static;
            background-color: transparent;
        }
        @include media-breakpoint-up(lg) {
            flex: 0 0 25%;
            margin-left: unset;
            order: 3;
        }

        &.show {
            left: 0;
        }
        .navbar-nav {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            @include media-breakpoint-up(md) {
                margin-right: $spacer;
            }
            @include media-breakpoint-up(lg) {
                justify-content: flex-end;;
            }
        }

        .colorpicker,
        .localepicker {
            top: auto;
            left: auto;
            position: static;
            border-radius: 50%;
        }
        .localepicker button {
            border-radius: 50%;
        }
    }

}

.navbar-search {
    top: 0;
    left: -102vw;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 2000;
    position: fixed;
    background-color: var(--#{$prefix}dark);
    transition: left 200ms ease;

    &.show {
        left: 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-toggler {
        top: 15px;
        right: 15px;
        border: 0;
        position: absolute;
        background: transparent;
        box-shadow: none;

        svg {
            fill: $white;
            width: 32px;
            height: 32px;
        }
    }

    input[type="search"] {
        width: 600px;
        max-width: 80vw;
        border: 0;
    }
}


// ----------------------------------------
//  Footer Navbar Stylings
// ----------------------------------------

.navbar-footer {
    flex: 0 0 calc(100% / 3 * 2);
    display: flex;
    padding: 0;
    align-items: flex-start;
    
    @include media-breakpoint-up(lg) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    
    .navbar-nav {
        flex: 0 0 100%;
        margin-bottom: $spacer * 1.5;
        padding-left: $spacer;
        padding-right: $spacer;
        text-align: center;
        
        @include media-breakpoint-up(md) {
            flex-basis: 50%;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: left;
        }
    }

    .nav-title {
        margin-bottom: 0.75rem;
        font-weight: 800;
        font-family: $font-family-special;
        text-transform: uppercase;
    }

    .nav-item {
        padding-top: 0;
        padding-bottom: 0;

        .nav-link {
            font-weight: 400;
            padding-top: $spacer * 0.15;
            padding-bottom: $spacer * 0.15;
        }
    }
}
