
// ----------------------------------------
//  General Posts Item Stylings
// ----------------------------------------

.posts-list {
    .post {
        display: flex;
        position: relative;
        margin-bottom: $spacer * 2.5;
        flex-direction: column;

        &:last-child {
            margin-bottom: 0;
        }
        
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        .post-preview,
        .post-pending {
            top: 15px;
            left: 15px;
            color: $white;
            padding: $spacer * 0.25 $spacer;
            opacity: 0.5;
            display: inline-block;
            z-index: 100;
            position: absolute;
            border-radius: $border-radius;
        }
        .post-preview {
            background-color: var(--#{$prefix}info);
        }
        .post-pending {
            background-color: var(--#{$prefix}danger);
        }

        .post-thumbnail {
            flex: 0 0 auto;
            max-width: 100%;
            margin-bottom: auto;
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: $border-radius;
            text-decoration: none;

            @include media-breakpoint-up(lg) {
                flex: 0 0 300px;
                max-width: none;
            }

            &.post-has-thumbnail::before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                z-index: 20;
                display: block;
                position: absolute;
                box-shadow: inset 0 0 50px 25px rgba(0, 0, 0, 0.5);
                pointer-events: none;
            }

            img {
                width: 100%;
                height: 300px;
                z-index: 15;
                filter: grayscale(80%);
                display: block;
                position: relative;
                object-fit: cover;
                object-position: top;
                border-radius: $border-radius;
                transition: filter 200ms ease;
                
                @include media-breakpoint-up(md) {
                    height: 400px;
                }
                @include media-breakpoint-up(lg) {
                    width: 300px;
                    height: 300px;
                }
            }
            .post-no-thumbnail {
                color: $gray-500;
                width: 100%;
                height: 300px;
                display: flex;
                padding: $spacer;
                font-size: 1.4rem;
                text-align: center;
                font-family: $font-family-special;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-up(md) {
                    height: 400px;
                }
                @include media-breakpoint-up(lg) {
                    width: 100%;
                    height: 300px;
                }
            }

            .post-badges {
                top: 15px;
                right: 15px;
                display: flex;
                position: absolute;
                flex-direction: row;
                justify-content: flex-end;
            }

            .post-badge {
                color: $gray-800;
                margin: 0 $spacer * 0.2;
                padding: $spacer * 0.1 $spacer * 0.5; 
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                z-index: 20;
                opacity: 0.75;
                background-color: $white;
                border-radius: 50rem;

                span {
                    margin-left: $spacer * 0.375;
                    margin-right: $spacer * 0.2;
                    font-size: 0.8rem;
                    font-weight: 600;
                }

                &.post-views {
                }
            }
        }

        &:hover .post-thumbnail img {
            filter: grayscale(50%);

            &:hover {
                filter: grayscale(0%);
            }
        }

        .post-content {
            flex: 1 1 auto;
            padding: $spacer;
            
            @include media-breakpoint-up(lg) {
                padding: $spacer $spacer * 1.5 $spacer $spacer * 3.0;
            }

            .post-category {
                opacity: 0.75;
                margin-bottom: $spacer;
                font-size: 0.9rem;
                font-weight: 700;
                letter-spacing: 3px;
                text-transform: uppercase;
                
                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

            .post-title {
                a {
                    color: var(--#{$prefix}body-color);
                    text-decoration: none;
                    transition: color 200ms ease;

                    &:hover {
                        color: var(--#{$prefix}primary);
                    }
                }
            }

            .post-meta {
                font-size: 0.8rem;
                
                @include media-breakpoint-up(lg) {
                    font-size: 1.0rem;
                    text-align: right;
                    margin-bottom: $spacer * 1.25;
                }

                .post-published {
                    color: var(--#{$prefix}body-color);
                    opacity: 0.5;
                    font-weight: 600;
                }
                .post-author {
                    color: var(--#{$prefix}body-color);
                    display: inline-block;
                    font-weight: 600;
                    
                    span {
                        opacity: 0.25;
                    }

                    a {
                        color: var(--#{$prefix}body-color);
                        opacity: 0.5;
                        text-decoration: none;

                        &:hover {
                            color: var(--#{$prefix}secondary);
                        }
                    }
                }
            }

            .post-summary {
                display: -webkit-box;
                overflow: hidden;
                line-height: 1.8rem;
                font-weight: 600;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;

                p {
                    margin: 0;
                    padding: 0;
                }
            }

        }
    }
}


// ----------------------------------------
//  Main Posts-List Styling
// ----------------------------------------

.posts-list {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        gap: $spacer;
        flex-wrap: wrap;
        flex-direction: row;

        .post {
            flex: 0 0 calc(50% - ($spacer / 2));
        }
    }
    @include media-breakpoint-up(lg) {
        gap: 0;
        flex-direction: column;

        .post {
            flex-basis: 100%;
        }
    }
}


// ----------------------------------------
//  Posts-List Columns Styling
// ----------------------------------------

.posts-list.posts-columns {
    flex-wrap: wrap;
    flex-direction: row;

    @include media-breakpoint-up(md) {
        gap: $spacer;
    }

    @include media-breakpoint-up(lg) {
        gap: $spacer * 2;
    }

    .post {
        flex: 0 0 100%;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex: 0 0 calc(50% - ($spacer / 2));
        }

        @include media-breakpoint-up(lg) {
            flex: 0 0 calc(100% / 3 - $spacer * 2);
        }

        .post-thumbnail {
            width: 100%;
            flex-basis: auto;

            img {
                width: 100%;
            }
        }

        .post-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-basis: auto;
            padding-left: 0;
            padding-right: 0;
            
            .post-meta {
                font-size: 0.9rem;
                text-align: left;
                margin-bottom: 0;
            }
            .post-title {
                margin-bottom: 0;
                font-size: 1.8rem;
            }
            .post-summary {
                -webkit-line-clamp: 3;
            }
        }
    }
}


// ----------------------------------------
//  Posts-List Condensed Styling
// ----------------------------------------

.posts-condensed {
    margin-left: -($spacer * 1.5);
    margin-right: -($spacer * 1.5);

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
    }

    .post {
        display: flex;
        margin-bottom: $spacer * 0.5;
        text-decoration: none;
        flex-direction: row;

        @include media-breakpoint-up(md) {
            flex: 0 0 100%;
        }

        .post-thumbnail,
        .post-no-thumbnail {
            flex: 0 0 80px;
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: top;
        }
        .post-no-thumbnail {
            background-color: $gray-300;
            border-radius: 0.375rem;

            .dark & {
                background-color: $gray-800;
            }
        }

        .post-content {
            flex: 1 1 auto;
            padding: $spacer * 0.2 $spacer;
        }

        .post-title {
            color: var(--#{$prefix}body-color);
            font-size: 1.2rem;
            line-height: 1.6rem;
            font-family: $font-family-special;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s ease;
        }

        &:hover .post-title {
            background-size: 100% 2px;
        }
    }
}
