
// ----------------------------------------
//  SinglePost Stylings
// ----------------------------------------

.post-single {

    header {
        max-height: 240px;
    
        .container {
            display: flex;

            .post-header {
                flex: 0 0 100%;

                &.post-has-thumbnail {
                    flex: 1 1 auto;
                }
            }
            .post-published {
                color: var(--#{$prefix}body-color);
                opacity: 0.5;
                font-weight: 600;
            }
            .post-thumbnail {
                flex: 0 0 400px;
                margin-top: -5rem;
                width: 400px;
                height: auto;

                img {
                    width: 100%;
                    max-height: 400px;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }

    article {
        .container {
            display: flex;

            .post-content {
                flex: 1 1 auto;
                padding-right: $spacer * 3;
                font-size: 1.0rem;

                p {
                    margin-bottom: $spacer * 3;

                    &:first-child {
                        font-size: 1.1rem;
                        line-height: 2.1rem;
                        font-weight: 400;
                    }
                }
            }

            aside {
                flex: 0 0 400px;
                
                &.post-has-thumbnail {
                    padding-top: 160px;
                }
            }
        }
    }

}
