
// ----------------------------------------
//  SitePicker Stylings
// ----------------------------------------

.sitepicker-actions {

}

.sitepicker-modal {

    .list-group {
        border: 0;
    }

    .list-group-item {
        margin: $spacer * 0.25 0;
        padding: 0;
        border: 0;
        border-radius: 0;
    }

    .site-link {
        color: var(--bs-body-text);
        padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
        display: flex;
        align-items: center;
        font-weight: 600;
        text-decoration: none;
        border-radius: $border-radius;

        &:hover {
            background-color: var(--bs-gray-200);
        }
    }
    .current .site-link {
        color: var(--bs-primary);
        background-color: rgb(var(--bs-primary-rgb), 0.15);
    }

    .site-flag,
    .site-without-flag {
        width: 32px;
        height: 32px;
        margin-right: $spacer * 0.5;
        object-fit: cover;
        object-position: center center;
    }

}
