##
description = "Default HTML Layout"

[localePicker]
forceUrl = 0

[alternateHrefLangElements]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[viewBag]
bloghubAuthorPage = "blog/author"
bloghubDatePage = "blog/date"
bloghubTagPage = "blog/tag"

[bloghubBase]
archiveAuthor = "blog/author"
archiveDate = "blog/date"
archiveTag = "blog/tag"
authorUseSlugOnly = 0
date404OnInvalid = 0
date404OnEmpty = 0
tagAllowMultiple = 1
==
<?php
function onInit()
{
    $this['legacy'] = version_compare(\System\Classes\UpdateManager::instance()->getCurrentVersion(), '3.0.0', '<');
    $this['octoberVersion'] = \System\Classes\UpdateManager::instance()->getCurrentVersion();
}
?>
==
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% partial 'page/meta' %}
</head>
<body class="theme-{{ this.theme.id }} {{ 'page-' ~ this.page.id }} layout-{{ this.layout.id }}{% if this.theme.dark_scheme %} dark{% else %} light{% endif %}{{ bodyClasses ? ' ' ~ bodyClasses: '' }}">
    <script>
        var scheme = sessionStorage.getItem('newshub-color-scheme');
        if (scheme) {
            document.body.classList.remove(scheme === 'light'? 'dark': 'light');
            document.body.classList.add(scheme);
        }
        if (document.currentScript) {
            document.currentScript.remove();
        }
    </script>

    {% partial 'page/header' %}

    <div id="pageContent">
        {% page %}
    </div>
    
    <footer id="pageFooter" class="{% if this.theme.dark_footer %}bg-dark dark{% else %}bg-light dark:bg-dark{% endif %} py-5">
        <div class="container">
            {% partial 'page/footer' %}
        </div>
    </footer>

    {% if this.theme.to_top_button %}
        <a href="#top" class="scroll-to-top">
            {% partial 'icons/bootstrap/arrow-up-short' %}
        </a>
    {% endif %}

    {% partial 'page/scripts' %}
</body>
</html>