##
description = "Fullwidth Page Layout"

[localePicker]
forceUrl = 0

[sitePicker]

[alternateHrefLangElements]

[staticPage]

[staticBreadcrumbs]

[viewBag]
staticBreadcrumbs_skipLast = true
bloghubAuthorPage = "blog/author"
bloghubDatePage = "blog/date"
bloghubTagPage = "blog/tag"

[bloghubBase]
archiveAuthor = "blog/author"
archiveDate = "blog/date"
archiveTag = "blog/tag"
authorUseSlugOnly = 0
date404OnInvalid = 0
date404OnEmpty = 0
tagAllowMultiple = 1

[cookiesBar]
==
<?php
function onInit()
{
    $this['octoberVersion'] = \System::VERSION;
    if (version_compare($this['octoberVersion'], '3.0.0', '<')) {
        $this['rainlabTranslateVersion'] = \System\Models\PluginVersion::where('code', 'RainLab.Translate')->first()->version;
    } else {
        $this['rainlabTranslateVersion'] = \System\Classes\VersionManager::instance()->getLatestVersion('RainLab.Translate');
    }

    $this['legacy'] = version_compare($this['octoberVersion'], '3.0.0', '<');
    $this['legacyTranslate'] = version_compare($this['rainlabTranslateVersion'], '2.0.0', '<');
    
    $this['hexToRgb'] = function ($hex) {
        [$r, $g, $b] = sscanf($hex, "#%02x%02x%02x");
        return "$r, $g, $b";
    };

    $this['newshub'] = [];
    if (!empty($this['localePicker'])) {
        $this['currentLocale'] = $this['localePicker']->activeLocale();
    } else {
        $this['currentLocale'] = app()->getLocale();
    }
}
?>
==
<!DOCTYPE html>
<html lang="{{ currentLocale }}" class="no-js">
<head>
    {% partial 'page/meta' %}
</head>
<body class="theme-{{ this.theme.id }} {{ 'page-' ~ this.page.id }} layout-{{ this.layout.id }} {{ this.theme.enable_dark_scheme and this.theme.dark_scheme ? 'dark' : 'light' }}{{ bodyClasses is defined ? ' ' ~ bodyClasses: '' }}">
    <script>
        {% if this.theme.enable_dark_scheme %}
            var scheme = localStorage.getItem('newshub-color-scheme');
            if (scheme) {
                document.body.classList.remove(scheme === 'light'? 'dark': 'light');
                document.body.classList.add(scheme);
            }
        {% endif %}

        if (document.currentScript) {
            document.currentScript.remove();
        }
    </script>

    <header id="pageHeader" class="header header-{{ this.theme.header_style }} header-{{ this.theme.header_position }} {{ this.theme.dark_header ? 'bg-dark dark' : 'bg-light dark:bg-dark' }}" data-newshub-header>
        {% partial 'page/header' %}
    </header>

    <main id="pageContent" class="main">
        <div class="post-single page-single">
            <section class="section section-page">
                <header class="py-6 bg-light dark:bg-dark">
                    <div class="container">
                        <div class="post-header">
                            {% component 'staticBreadcrumbs' skipLast=true %}
                            <h1 class="post-title">{{ page.title | default(this.page.title) }}</h1>
                        </div>
                    </div>
                </header>

                <article class="py-6">
                    <div class="container">
                        <div class="post-content">
                            {% page %}
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>
    
    <footer id="pageFooter" class="footer {{ this.theme.dark_footer ? 'bg-dark dark' : 'bg-light dark:bg-dark' }}">
        {% partial 'page/footer' %}
    </footer>
    
    {% if this.theme.to_top_button %}
        <a href="#top" class="scroll-to-top">
            {% partial 'icons/bootstrap/arrow-up-short' %}
        </a>
    {% endif %}
    
    {% set offscreen = placeholder('offscreen') %}
    {{ offscreen | raw }}

    {% component 'cookiesBar' %}
    {% partial 'page/scripts' %}
</body>
</html>
