##
description = "Fullwidth Page Layout"

[localePicker]

[alternateHrefLangElements]

[staticPage]

[staticBreadcrumbs]

[viewBag]
staticBreadcrumbs_skipLast = true
==
<?php
function onInit()
{
    $this['legacy'] = version_compare(\System\Classes\UpdateManager::instance()->getCurrentVersion(), '3.0.0', '<');
    $this['octoberVersion'] = \System\Classes\UpdateManager::instance()->getCurrentVersion();
}
?>
==
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% partial 'page/meta' %}
</head>
<body class="theme-{{ this.theme.id }} {{ 'page-' ~ this.page.id }} layout-{{ this.layout.id }}{% if this.theme.dark_scheme %} dark{% else %} light{% endif %}">
    <script>
        var scheme = sessionStorage.getItem('newshub-color-scheme');
        if (scheme) {
            document.body.classList.remove(scheme === 'light'? 'dark': 'light');
            document.body.classList.add(scheme);
        }
        if (document.currentScript) {
            document.currentScript.remove();
        }
    </script>
    
    {% partial 'page/header' %}

    <div id="pageContent">
        <div class="post-single page-single">
            <section class="section section-page">
                <header class="py-6 bg-light dark:bg-dark">
                    <div class="container">
                        <div class="post-header">
                            {% component 'staticBreadcrumbs' skipLast=true %}
                            <h1 class="post-title">{{ page.title | default(this.page.title) }}</h1>
                        </div>
                    </div>
                </header>

                <article class="py-6">
                    <div class="container">
                        <div class="post-content">
                            {% page %}
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>
    
    <footer id="pageFooter" class="{% if this.theme.dark_footer %}bg-dark dark{% else %}bg-light dark:bg-dark{% endif %} py-5">
        <div class="container">
            {% partial 'page/footer' %}
        </div>
    </footer>

    {% if this.theme.to_top_button %}
        <a href="#top" class="scroll-to-top">
            {% partial 'icons/bootstrap/arrow-up-short' %}
        </a>
    {% endif %}

    {% partial 'page/scripts' %}
</body>
</html>