url = "/magazine/author/:slug/:page?"
layout = "default"
title = "Magazine Author Archive"

[viewBag]
localeUrl[de] = "/magazin/author/:slug/:page?"
localeTitle[de] = "Magazin Autor Archiv"

[bloghubAuthorArchive]
pageNumber = "{{ :page }}"
postsPerPage = 10
authorFilter = "{{ :slug }}"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
function onEnd()
{
    if ($this->author) {
        $this->page->title = $this->author->title;
    }
}
==
<section class="section section-posts py-6">
    <div class="container">
        {% if not author %}
            Unknown Tag
        {% else %}
            <h1 class="mb-5">{{ author.first_name ~ ' ' ~ author.last_name }}</h1>

            <div class="post-list">
                {% if posts | length > 0 %}
                    {% for post in posts %}
                        {% partial 'blog/posts-list' post=post %}
                    {% endfor %}
                {% else %}
                    No Posts found
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>