url = "/magazine/author/:slug/:page?"
layout = "default"
title = "Magazine Author Archive"

[viewBag]
localeUrl[de] = "/magazin/author/:slug/:page?"
localeTitle[de] = "Magazin Autor Archiv"

[bloghubAuthorArchive]
pageNumber = "{{ :page }}"
postsPerPage = 10
authorFilter = "{{ :slug }}"
sortOrder = "published_at desc"
==
function onEnd()
{
    if ($this->author) {
        $this->page->title = $this->author->title;
    }
}
==
<section class="section section-posts py-6">
    <div class="container">
        {% if not author %}
            Unknown Archive
        {% else %}
            {% if posts|length > 0 %}
                <h1 class="mb-5">Author: {{ author.first_name ~ ' ' ~ author.last_name }}</h1>
                {% partial 'blog/sections/posts-list' 
                    posts=posts
                    prefix='archiv'
                    datetime='short'
                %}
            {% endif %}
        {% endif %}
    </div>
</section>