url = "/magazine/category/:slug/:page?"
layout = "default"
title = "Magazine Category"

[viewBag]
localeUrl[de] = "/magazin/kategorie/:slug/:page?"
localeTitle[de] = "Magazin Kategorie"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
categoryFilter = "{{ :slug }}"
sortOrder = "published_at desc"
==
function onEnd()
{
    if ($this->category) {
        $this->page->title = $this->category->name;
    }
}
==
<section class="section section-posts py-6">
    <div class="container">
        {% if not category %}
            Unknown Category
        {% else %}
            {% if posts|length > 0 %}
                <h1 class="mb-5">Category {{ category.name }}</h1>
                {% partial 'blog/sections/posts-list' 
                    posts=posts
                    prefix='archiv'
                    datetime='short'
                %}
            {% endif %}
        {% endif %}
    </div>
</section>