url = "/magazine/date/:date|^[0-9]{4}(\-[0-9]{2}(\-[0-9]{2}))?/:page?"
layout = "default"
title = "Magazine Date Archive"

[viewBag]
localeUrl[de] = "/magazin/datum/:slug/:page?"
localeTitle[de] = "Magazin Datums Archiv"

[bloghubDateArchive]
pageNumber = "{{ :page }}"
postsPerPage = 10
dateFilter = "{{ :date }}"
sortOrder = "published_at desc"
==
function onEnd()
{
    if ($this->author) {
        $this->page->title = $this->author->title;
    }
}
==
<section class="section section-posts py-6">
    <div class="container">
        {% if not date %}
            Unknown Archive
        {% else %}
            {% if posts|length > 0 %}
                <h1 class="mb-5">Date {{ date.year }}</h1>
                {% partial 'blog/sections/posts-list' 
                    posts=posts
                    prefix='archiv'
                    datetime='short'
                %}
            {% endif %}
        {% endif %}
    </div>
</section>