url = "/magazine/date/:date|^[0-9]{4}(\-[0-9]{2}(\-[0-9]{2}))?/:page?"
layout = "default"
title = "Magazine Date Archive"

[viewBag]
localeUrl[de] = "/magazin/datum/:slug/:page?"
localeTitle[de] = "Magazin Datums Archiv"

[bloghubDateArchive]
pageNumber = "{{ :page }}"
postsPerPage = 10
dateFilter = "{{ :date }}"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
function onEnd()
{
    if ($this->author) {
        $this->page->title = $this->author->title;
    }
}
==
<section class="section section-posts py-6">
    <div class="container">
        {% if not date %}
            Unknown Tag
        {% else %}
            <h1 class="mb-5">{{ date.year }}</h1>

            <div class="post-list">
                {% if posts | length > 0 %}
                    {% for post in posts %}
                        {% partial 'blog/posts-list' post=post %}
                    {% endfor %}
                {% else %}
                    No Posts found
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>