url = "/magazine/post/:slug"
layout = "default"
title = "Magazine Post"

[viewBag]
localeUrl[de] = "/magazin/beitrag/:slug"
localeTitle[de] = "Magazin Beitrag"

[blogPost]
slug = "{{ :slug }}"
==
function onEnd()
{
    if (isset($this->post)) {
        $this->page->title = $this->post->title;
    }
}
==
<div class="post-single">
    {% if not post %}
        {% partial 'post-not-found' %}
    {% else %}
        {% set layout = post.bloghub_meta_data.layout | default('default') %}
        {% if layout != '' and layout != 'default' and hasPartial('blog/post-single-' ~ layout) %}
            {% partial ('blog/post-single-' ~ layout) post=post%}
        {% else %}
            {% partial ('blog/post-single') post=post%}
        {% endif %}
    {% endif %}
</div>