url = "/magazine/tag/:slug/:page?"
layout = "default"
title = "Magazine Tag Archive"

[viewBag]
localeUrl[de] = "/magazin/tag/:slug/:page?"
localeTitle[de] = "Magazin Tag Archiv"

[bloghubTagArchive]
pageNumber = "{{ :page }}"
postsPerPage = 10
tagFilter = "{{ :slug }}"
sortOrder = "published_at desc"
==
function onEnd()
{
    if ($this->tag) {
        $this->page->title = $this->tag->title;
    }
}
==
<section class="section section-posts py-6">
    <div class="container">
        {% if not tag %}
            Unknown Tag
        {% else %}
            {% if posts|length > 0 %}
                <h1 class="mb-5">Tag {{ tag.title }}</h1>
                {% partial 'blog/sections/posts-list' 
                    posts=posts
                    prefix='archiv'
                    datetime='short'
                %}
            {% endif %}
        {% endif %}
    </div>
</section>