##
url = "/"
layout = "default"
title = "Homepage"
description = "Main Homepage"
meta_title = "Homepage"
meta_description = "NewsHub is a responsive Premium Blog / Magazine OctoberCMS template."

[viewBag]
localeUrl[de] = "/"
localeTitle[de] = "Startseite"
localeMeta_title[de] = "Startseite"
localeMeta_description[de] = "NewsHub ist ein respnsives Premium Blog / Magazin OctoberCMS Template."

[blogPosts latest]
pageNumber = "{{ :page }}"
postsPerPage = 13
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
{% if this.theme.hero_slider %}
    <section class="section{% if this.theme.dark_header %} bg-dark{% else %} bg-light dark:bg-dark{% endif %}">
        <div class="container-fluid py-0 py-md-4 py-lg-6 px-0 px-md-3 px-xl-8">
            {% partial 'page/hero-slider' %}
        </div>
    </section>
{% endif %}

<section class="section pt-6 pb-3">
    <div class="container">
        <h1 class="mb-5">{{ 'posts.widget.latest' | _ }}</h1>
        
        {% if latest.posts|length > 0 %}
            {% partial 'blog/sections/posts-columns' 
                posts=latest.posts|slice(0, 3)
                prefix='latest'
                datetime='short'
            %}
        {% endif %}
    </div>
</section>

<section class="section section-with-sidebar pt-3 pb-6">
    <div class="container">
        <div class="main-area">
            {% if latest.posts|length > 3 %}
                {% partial 'blog/sections/posts-list' 
                    posts=latest.posts|slice(3)
                    prefix='latest'
                %}
                {% partial 'blog/components/pagination' posts=posts target="magazine" %}
            {% endif %}
        </div>

        <div class="sidebar-area">
            {% partial 'sidebars/home' %}
        </div>
    </div>
</section>