<section class="section section-posts">
    <header class="py-1 py-lg-6 bg-light dark:bg-dark" style="background-image: url('{{post.featured_images.0.getPath()}}')">
        <div class="container">
            <div class="post-header">
                <h1 class="post-title">{{ post.title }}</h1>

                <time class="post-published" datetime="{{ post.published_at }}">
                    {{ post.published_at | date(this.theme.datetime_format) }}
                </time>
            </div>
        </div>
    </header>

    <article class="py-2 py-lg-6 section section-with-sidebar">
        <div class="container">
            <div class="main-area post-content py-4 py-lg-0">
                {{ post.content_html | raw }}

                {% if post.ratmd_bloghub_meta_meta_data.images and post.featured_images|length > 1 %}
                    {% if post.ratmd_bloghub_meta_meta_data.images == 'carousel' %}
                        {% partial "blog/components/carousel" images=post.featured_images|slice(1) %}
                    {% elseif post.ratmd_bloghub_meta_meta_data.images == 'gallery' %}
                        {% partial "blog/components/gallery" images=post.featured_images|slice(1) %}
                    {% endif %}
                {% endif %}
            </div>
            <aside class="sidebar-area post-aside{% if post.featured_images %} post-has-thumbnail{% endif %}">
                {% partial 'sidebars/post' %}
            </aside>
        </div>
    </article>

    <footer class="pb-6">
        <div class="container">
            {% set similarPosts = post.bloghub_similar_posts() %}
            {% if similarPosts|length > 0 %}
                <h2 class="mb-5">{{ 'posts.widget.similar' | _ }}</h2>
                <div class="latest-posts">
                    {% partial 'blog/sections/posts-columns' 
                        posts=similarPosts
                        prefix='similar'
                        datetime='short'
                    %}
                </div>
            {% else %}
                {% set randomPosts = post.bloghub_random_posts() %}
                {% if randomPosts|length > 0 %}
                    <h2 class="mb-5">{{ 'posts.widget.random' | _ }}</h2>
                    {% partial 'blog/sections/posts-columns' 
                        posts=randomPosts
                        prefix='random'
                        datetime='short'
                    %}
                {% endif %}
            {% endif %}
        </div>
    </footer>
</section>
