{% if datetime == 'short' %}
    {% set dateTimeFormat = this.theme.short_datetime_format %}
{% elseif datetime == 'time' %}
    {% set dateTimeFormat = 'H:i' %}
{% else %}
    {% set dateTimeFormat = this.theme.datetime_format %}
{% endif %}

<div id="{{ prefix | default('post') }}-{{ post.id }}" class="post">
    {% if not hideThumbnail %}
        {% if post.featured_images %}
            <a href="{{ post.url }}" title="{{ post.title }}" class="post-thumbnail">
                <img src="{{ post.featured_images.0.getPath() }}" alt="{{ post.title }}" />
            </a>
        {% endif %}
    {% endif %}

    <div class="post-content">
        {% if not hideCategory %}
            <div class="post-category">
                <span>{{ 'magazine.list.posted_in' | trans }}</span>
                <span>{{ post.categories[0].name }}</span>
            </div>
        {% endif %}
        
        {% if not hideTitle %}
            <h2 class="post-title">
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h2>
        {% endif %}
        
        {% if not hideMeta %}
            <div class="post-meta">
                <time class="post-published" datetime="{{ post.published_at }}">
                    {{ post.published_at | date(dateTimeFormat) }}
                </time>
                <address class="post-author">
                    <span>{{ 'magazine.list.by_author' | trans }}</span>
                    <a href="{{ ('magazine/author/' ~ post.user.id) | theme }}" rel="author">{{ post.user.first_name }} {{ post.user.last_name }}</a>
                </address>
            </div>
        {% endif %}

        {% if not hideSummary %}
            <div class="post-summary">
                {{ post.summary | raw }}
            </div>
        {% endif %}
    </div>
</div>