{% set uniqueId = 'single-post-carousel-' ~ post.id %}

<div id="{{ uniqueId }}" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        {% for image in images %}
            <button type="button" data-bs-target="#{{ uniqueId }}" data-bs-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active" aria-current="true"{% endif %}></button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for image in images %}
            <div class="carousel-item{% if loop.first %} active{% endif %}">
                <img src="{{ image.getPath() }}" class="d-block w-100" alt="{{ image.title }}" />

                {% if image.title or image.description %}
                    <div class="carousel-caption d-none d-md-block">
                        {% if image.title %}
                            <div class="fs-3 fw-600">{{ image.title }}</div>
                        {% endif %}
                        {% if image.description %}
                            <p>{{ image.description }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#{{ uniqueId }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ 'carousel.previous' | theme }}</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#{{ uniqueId }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">{{ 'carousel.next' | theme }}</span>
    </button>
</div>
