{% set uniqueId = 'single-post-gallery-' ~ post.id %}

<div id="{{ uniqueId }}" class="gallery row">
    {% for image in images %}
        {% set caption = '' %}

        {% if image.title %}
            {% set caption = image.title %}
        {% endif %}

        {% if image.description %}
            {% if caption %}
                {% set caption = caption ~ ': ' %}
            {% endif %}
            {% set caption = caption ~ image.description %}
        {% endif %}

        <a href="{{ image.getPath() }}" class="col-12 col-md-6 col-lg-4" data-rat-toggle="lightbox" data-gallery="{{ uniqueId }}" 
            title="{{ image.title }}"{% if caption %} data-caption="{{ caption }}"{% endif %}>
            <img src="{{ image.getPath() }}" class="img-fluid" alt="{{ image.title }}" />
        </a>
    {% endfor %}
</div>
